{% include '../parts/head.html' %}
<body id="home">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-inner page-technical bg gutters page-error">


				<div class="container">
					<div class="block-404">
						<div class="row align-vertical-center block-404__row row-nowrap">
							<div class="block-404__content">
								<h1 class="sect-title-sm t-t-uppercase">такой страницы не существует</h1>
								<p>Возможно вы допустили опечатку в адресе. Попробуйте перейти на главную страницу или воспользоваться меню сайта.</p>
								<a href="index.html" class="btn">перейти на главную</a>
							</div>
							<img src="img/404.svg" alt="">
						</div>
					</div>
				</div>
				<!-- //container -->

				
			</section>


			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>