{% include '../parts/head.html' %}
<body class="page-alternate">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">



		<!-- Go to up btn -->
		<button type="button" class="btn__top js-go-to-top-btn" title="К началу страницы"></button>
		<!-- // Go to up btn  -->

		<!-- Header -->
		{% include '../parts/sections/header-inner.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<!-- Section promo -->
			<section class="sect__promo" id="home">
				<h1 class="w3c">Собственная плазма - приоритет для восстановления вашего организма</h1>

				<div class="promo-slider">
					<div class="swiper-container js-promo-slider">
						<div class="swiper-wrapper">
							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/1.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Консультация, диагностика и процедуры - все в день посещения</h2>
											<h3>Безопасное и высокоэффективное лечение суставов с использованием собственной плазмы пациента</h3>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/2.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Лечение артроза суставов<br><strong>БЕЗ ОПЕРАЦИЙ</strong></h2>
											<h3>Безопасное и высокоэффективное лечение суставов с использованием собственной плазмы пациента</h3>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/3.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Приведи друга - <br>заработай сам</h2>
											<h3>Безопасное и высокоэффективное лечение суставов с использованием собственной плазмы пациента</h3>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/4.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Перенесли COVID-19?<br>Чувствуете слабость?</h2>
											<p>Привычные движения вызывают непреодолимое желание прилечь? Не можете вздохнуть полной грудью? Самое время помочь организму восстановить силы! Вы можете устранить последствия от самой инфекции и медикаментозной нагрузки на организм, воспользовавшись реабилитационными мероприятиями, чтобы быстрее вернуться к полноценной жизни… В нашей клинике Вам подберут индивидуальную комплексную программу восстановления, исходя из тяжести перенесенного заболевания. Давайте вместе позаботимся о Вашем здоровье!</p>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->
						</div>

						<!-- Navigation -->
						<div class="promo-slider__navigation">
							<button class="btn__arrow btn__arrow--prev js-promo-slider-btn-prev" type="button">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
									<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
									c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
									L143.492,221.863z"/>
								</svg>
							</button>

							<button class="btn__arrow btn__arrow--next js-promo-slider-btn-next" type="button">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
									<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
									c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
									L143.492,221.863z"/>
								</svg>
							</button>
						</div>
						<!-- //Navigation -->

						<div class="slider__pagination js-promo-slider-pagination"></div>
					</div>
				</div>

			</section>
			<!-- //Section promo -->

			<div class="promo-block__form b-radius-lg">
				<form class="form">
					<!-- Hidden inputs -->
					<input type="hidden" name="project_name" value="Plasma Priority - Google">
					<input type="hidden" name="admin_email" value="winde100kg@gmail.com">
					<input type="hidden" name="form_subject" value="Запись на прием">
					<!-- // Hidden inputs -->


					<div class="row inputs__row">
						<div class="input__wrapper col-w-33">
							<input type="text" class="input js-input b-radius-sm" name="Имя" placeholder="Ваше имя *">
						</div>
						<div class="input__wrapper col-w-33">
							<input type="tel" class="input js-input b-radius-sm" name="Телефон" placeholder="Ваш телефон *">
						</div>
						<div class="input__wrapper col-w-33">
							<button class="btn btn-wide" type="submit">Записаться на прием</button>
						</div>
					</div>

					<p class="form__notice">* - мы не передаем Ваши персональные данные третьим лицам</p>


				</form>
			</div>


			<!-- Section treatment -->
			<section class="sect__treatment gutters" id="treatment">
				<h2 class="sect-title container text-center">Что мы лечим</h2>
				

				<div class="container container-wide">

					<div class="what-we-treating">
						<div class="row row-nowrap what-we-treating__row">
							<div class="what-we-treating__img thumbnail">
								<img src="img/treating.png" alt="">
							</div>
							<div class="what-we-treating__content">
								<div class="content">
									<p><strong>Главная наша задача</strong> — комплексное лечение пациента, основанное на выявлении причин болей в опорно- двигательном аппарате и подбор оптимального, индивидуального варианта лечения, который позволит устранить причину боли и приведет пациента к устойчивому положительному результату.</p>
									<p>Мы используем все самые эффективные лечебные методики, как современные, так и традиционные.</p>
								</div>

								<p class="what-we-treating__slogan">К движению без боли!</p>
							</div>
						</div>
					</div>

				</div>
				<!-- //container -->
			</section>
			<!-- //Section treatment -->



			<section class="sect__services" id="services">
				<div class="services">
					<!-- Service -->
					<section class="sect__service gutters">
						<div class="container">
							<h2 class="sect-title text-center">Ортопедия</h2>
							<div class="content">
								<p><strong>Артроз</strong> — хроническое дегенеративно-дистрофическое изменение суставного хряща, которое неизбежно ведет к деформации костной ткани, и требует незамедлительного и профессионального лечения. При самолечении, при игнорировании симптомов развивающегося заболевания, в короткий срок  происходит полное разрушение сустава, сопровождающееся его полной неподвижностью, что зачастую ведет  к необходимости операции протезирования. Синонимами артроза являются термины: остеоартроз, остеоартрит, деформирующий артроз, деформирующий остеоартроз, артрит. Избавиться полностью от этого заболевания нельзя, <b>НО</b> его можно и нужно контролировать.</p>
								<p>Можно ли обойтись сегодня без операций? <b>Мы говорим, ДА!</b></p>
								<p>Наши специалисты длительное время успешно занимаются лечением артроза, применяя комплексный подход. Предлагаемые нами методы помогут Вам на любой стадии заболевания.</p>
							</div>

							<div class="treatment">
								<div class="treatment-item accordion-item">
									<div class="treatment-item__header accordion-header">
										<h3 class="treatment-item__title accordion-title">Какие проблемы с суставами чаще всего приводят пациентов к врачу? </h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="treatment-item__body accordion-body">
										<div class="content">
											<p>Самая частая причина обращения – это артроз (артрит).  Он возникает, как правило,  в результате изнашивания, разрушения хряща в суставе.  Характерные признаки:</p>
											<ul>
												<li>Боль при движении сустава, которая утихает в состоянии покоя.</li>
												<li>Хруст в суставах, нарушение их подвижности.</li>
												<li>Припухлость, местное повышение температуры, которые могут появляться периодически (особенно после активных действий).</li>
												<li>Изменение формы суставов.</li>
												<li>Ноющая боль в суставах.</li>
												<li>При своевременной постановке диагноза адекватное лечение поможет устранить проблему эффективно и избежать осложнений. Без лечения суставы, поврежденные артрозом, со временем  разрушаются и требуют замены на искусственный. </li>
											</ul>
										</div>
									</div>
								</div>

								<div class="treatment-item accordion-item">
									<div class="treatment-item__header accordion-header">
										<h3 class="treatment-item__title accordion-title">Как диагностируется это заболевание?</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="treatment-item__body accordion-body">
										<div class="content">
											<ul>
												<p>Золотой стандарт в диагностике суставных заболеваний - это клиническое исследование, то есть беседа с пациентом и осмотр, плюс рентгенография, при необходимости МРТ или КТ. </p>
											</ul>
										</div>
									</div>
								</div>

								<div class="treatment-item accordion-item">
									<div class="treatment-item__header accordion-header">
										<h3 class="treatment-item__title accordion-title">Какие методы лечения мы предлагаем?</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="treatment-item__body accordion-body">
										<div class="content">
											<p>Современная медицина предлагает широкий спектр возможностей. На первой стадии заболевания обычно достаточно провести курс физиотерапевтического лечения, массажа и подобрать индивидуальный режим нагрузок.</p>
											<p>При второй стадии артроза, когда есть серьезное вовлечение хряща в процесс, но нет его изнашивания на всю толщину, нет выраженной хромоты и неустойчивости, к предложенным процедурам мы добавляем аутологичную плазму   и  противовоспалительную терапию (компрессы). </p>
											<p>Третья стадия артроза характеризуется полнослойным износом хряща в одном или нескольких отделах сустава. На  этой стадии очень эффективно введение в сустав искусственной синовиальной жидкости, с помощью внутрисуставных инъекций самыми современными протезами синовиальной жидкости, известными  как  гиалуроновая кислота.</p>

										</div>
									</div>
								</div>

								<div class="treatment-item accordion-item">
									<div class="treatment-item__header accordion-header">
										<h3 class="treatment-item__title accordion-title">Что такое введение искусственной синовиальной жидкости? Это операция?</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="treatment-item__body accordion-body">
										<div class="content">
											<p><b>Суставной хрящ</b> – это структура, состоящая из нескольких слоев и не имеющая в своем составе сосудов. Он получает питание из синовиальной (суставной) жидкости, которая есть в любом суставе для смазки и питания хряща. При артрозе нарушается состав суставной жидкости, она перестает быть густой, перестает питать и смазывать трущиеся хрящи. Похожая ситуация наблюдается после операции, когда эвакуируют естественную смазку.</p>
											<p>В этих случаях введение в сустав искусственной синовиальной жидкости может решить проблему. Эта процедура представляет собой обычный укол, это не операция. Процедура не болезненна. Специальной предварительной подготовки не требуется. После проведенных манипуляций сразу можно ходить, управлять автомобилем. Водные процедуры на следующий день. На 1-2 дня не рекомендуются большие физические нагрузки.</p>

										</div>
									</div>
								</div>

								<div class="treatment-item accordion-item">
									<div class="treatment-item__header accordion-header">
										<h3 class="treatment-item__title accordion-title">Как часто пациенту приходится делать такие инъекции?</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="treatment-item__body accordion-body">
										<div class="content">
											<p>Многим пациентам эту процедура показана однократно, некоторым рекомендуем  курс из 3 инъекций в сустав. При хорошем клиническом эффекте, процедуру можно повторять раз в полгода или год.</p>
											<p>При третьей стадии артроза, мы  рекомендуем курсы искусственной синовиальной жидкости, они помогут  облегчить состояние и улучшить качество жизни  и избежать  эндопротезирования.</p>


										</div>
									</div>
								</div>

								<div class="treatment-item accordion-item">
									<div class="treatment-item__header accordion-header">
										<h3 class="treatment-item__title accordion-title">Какие эффекты, достигаются в результате лечения?</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="treatment-item__body accordion-body">
										<div class="content">
											<ul>
												<li>Восстановление суставной жидкости</li>
												<li>Улучшение питания суставного хряща и ускорение его восстановления</li>
												<li>Улучшение кровообращения в области пораженного сустава</li>
												<li>Укрепление мышц, окружающих поврежденный сустав</li>
												<li>Значительное сокращение периода реабилитации после травм, операций и протезирования</li>
												<li>Устранение болевых ощущений</li>
											</ul>


										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //container -->
						

					</section>
					<!-- //Service -->

					<!-- Service -->
					<section class="sect__service gutters">
						<div class="container">
							<h2 class="sect-title text-center sect-title-sm-gutter">неврология</h2>
							<p class="sect__service--subtitle text-center">Безоперационное лечение грыжи позвоночника</p>
							<div class="content">
								<p>Все чаще проблемы с позвоночником  беспокоят не только возрастных, но и молодых людей.  Виной тому малоподвижный образ жизни, ведь почти все свободное время мы проводим за компьютером, с телефоном  в руках. Если врач поставил вам диагноз <strong>«остеохондроз»</strong>, наберитесь терпения – понадобится комплексный подход, который  заметно ускорит процесс выздоровления.</p>

								<p>Как правило, пациент с остеохондрозом отправляется к доктору во время острого приступа заболевания, сопровождающегося сильной болью. Соответственно, первоочередной задачей является  устранение  болевых ощущений.  После этого врач, по итогам диагностики,  составляет индивидуальную программу лечения для каждого пациента.</p>

							</div>

							<div class="treatment">
								<div class="treatment-item accordion-item">
									<div class="treatment-item__header accordion-header">
										<h3 class="treatment-item__title accordion-title">Какие проблемы с позвоночником  чаще всего приводят пациентов к врачу? </h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="treatment-item__body accordion-body">
										<div class="content">
											<p>По статистике более 75% взрослого населения сталкиваются с заболеваниями позвоночника, среди которых наиболее распространенные - грыжа, протрузии, как проявление остеохондроза.  И острая боль – один из самых частых симптомов, сопровождающих грыжи и протрузии межпозвонковых дисков. Без медицинской помощи заболевание прогрессирует и может привести к потере подвижности и полному параличу.  Если пациент обратился за помощью на ранней стадии, до развития осложнений, врачи чаще всего выбирают безоперационное лечение.</p>
											<p><strong>Характерные признаки:</strong><br>Боль в спине, усиливающаяся при нагрузке, отдающая в верхние или в нижние конечности, головная боль, головокружение. Онемение рук или ног, слабость мышц, преимущественно, с одной стороны.</p>
											<p>На фоне грыжи возникают осложнения:</p>

											<ul>
												<li>корешковый синдром;</li>
												<li>сдавление спинного мозга;</li>
												<li>компрессия позвоночных артерий и вен.</li>
												<li>Осложнения могут вызывать нарушения в работе спинного мозга, конечностей, органов и систем организма</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="treatment-item accordion-item">
									<div class="treatment-item__header accordion-header">
										<h3 class="treatment-item__title accordion-title">Каковы принципы лечения межпозвоночной грыжи шейного, грудного или поясничного отдела без операции?</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="treatment-item__body accordion-body">
										<div class="content">
											<ul>
												<li>Восстановление питания пораженного участка;</li>
												<li>Купирование болевого синдрома, снятие отека мягких тканей;</li>
												<li>Уменьшение спазма мышц, улучшение крово - и лимфотока;</li>
												<li>Стабилизация процессов клеточного обмена в месте воспаления.</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="treatment-item accordion-item">
									<div class="treatment-item__header accordion-header">
										<h3 class="treatment-item__title accordion-title">Какие методы лечения мы предлагаем?</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="treatment-item__body accordion-body">
										<div class="content">
											<p><strong>Медикаментозное лечение.</strong> Применяется для купирования симптомов, ослабления воспалительного процесса и регенерации поврежденных тканей. Лекарственные препараты (свечи, мази, инъекции) помогают снять боль и отечность, улучшить кровоток и восстановить хрящевую ткань. Как правило, используются препараты следующих групп: нестероидные противовоспалительные средства, анальгетики, миорелаксанты, препараты для улучшения кровоснабжения, хондропротекторы, витамины. Эпидуральная или паравертебральная блокада, которая проводится с помощью кортикостероидных гормонов  и анестетика. Снимает отек, воспаление, купирует боль.Назначаются миорелаксанты (препараты расслабляют мышцы в месте поражения) и  препараты, улучшающие кровообращение в месте грыжи, стимулирующие обменные процессы в тканях.</p>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- //container -->
						

					</section>
					<!-- //Service -->

					<!-- Service -->
					<section class="sect__service gutters">
						<div class="container">
							<h2 class="sect-title text-center ">ТЕРАПИЯ</h2>
							<div class="content">
								<p><strong>Терапия</strong> имеет высокую эффективность при наличии комплексного подхода.  Мы призываем пациентов не игнорировать симптомы ухудшения здоровья и обращаться за медицинской помощью сразу, а также рекомендуем обратить внимание на меры профилактического характера. Своевременная помощь профессионалов общего профиля позволит вовремя выявить начинающиеся заболевания и предотвратить их развитие. А профилактика  и оздоровление поможет поддержать внутренние  ресурсы организма, и будут служить  залогом долгой и здоровой жизни.</p>
								<p>Современная медицина позволяет продлить, а иногда и «вернуть молодость» организму.  Наиболее распространенной, в настоящее время процедурой, являются <strong>капельницы</strong>, спектр применения которых  обширен. </p>
								<p>Мы используем препараты, которые используются в Японии на уровне национальных программ  продления жизни.</p>
								<p>Они позволяют устранить синдром усталости, поддержать организм перед и после операции. Нормализуют обмен веществ, позволяют бороться со  стрессом и  умственным переутомлением, синдромом «мегаполиса».</p>
								<p>Предлагаемые капельницы позволяют улучшить кровообращение, обмен веществ, вывести из организма токсины, активизировать клеточное дыхание. Они обладают противовоспалительными свойствами, удерживают влагу в клетках. Таким образом,  вы становитесь моложе не только внутренне, но и внешне.  А организм обретает гармонию!</p>
							</div>

							<div class="service-notice">
								<p>Уважаемые гости сайта! Информация, размещенная на сайте, не является врачебной рекомендацией. Все применяемые методики имеют противопоказания. Обращайтесь к специалисту за консультацией. Информация на нашем сайте носит ознакомительный характер и не является публичной офертой. При перепечатке и копировании материалов ссылка обязательна.</p>
							</div>

						</div>
						<!-- //container -->
						

					</section>
					<!-- //Service -->
				</div>
			</section>



			<!-- Section team -->
			<section class="sect__team gutter-top" id="team">
				<h2 class="sect-title container text-center">команда</h2>
				<div class="container">
					<div class="team-members">
						<div class="row align-horisontal-start team-members__row row-gutters">
							<div class="team-member__wrapper col-w-50 col-gutters">
								<div class="team-member">
									<div class="team-member__photo thumbnail">
										<img src="img/team/1.png" alt="">
									</div>
									<div class="team-member__information">
										<h3 class="team-member__name">Карев Дмитрий Борисович</h3>
										<p>Кандидат медицинских наук, доцент, врач травматолог-ортопед высшей квалификационной категории, 31 летний стаж работы в ортопедии. Владеет техникой первичного и ревизионного эндопротезирования крупных суставов,  реконструктивными операциями на тазобедренном суставе. Автор 84 научных публикаций (в том числе в Европейских научных журналах), монографии, 14 патентов.</p>
									</div>
								</div>
							</div>

							<div class="team-member__wrapper col-w-50 col-gutters">
								<div class="team-member">
									<div class="team-member__photo thumbnail">
										<img src="img/team/2.png" alt="">
									</div>
									<div class="team-member__information">
										<h3 class="team-member__name">Карев Борис Дмитриевич</h3>
										<p>Врач травматолог-ортопед первой квалификационной категории, практикующий специалист. Стаж работы 9 лет. Владеет артроскопией коленного сустава, техникой первичного эндопротезирования тазобедренного сустава, современными методиками накостного и интрамедуллярного остеосинтеза . Автор 10 научных публикаций (в том числе в Европейских научных журналах), 5 патентов.</p>
									</div>
								</div>
							</div>

							<div class="team-member__wrapper col-w-50 col-gutters">
								<div class="team-member">
									<div class="team-member__photo thumbnail">
										<img src="img/team/3.png" alt="">
									</div>
									<div class="team-member__information">
										<h3 class="team-member__name">Алиев Али Асхабалиевич</h3>
										<p>Врач невролог, рефлексотерапевт. Стаж работы 9 лет. Занимается лечением и реабилитацией пациентов с неврологическими заболеваниями, дисфункциями вегетативной нервной системы, заболеваниями опорно- двигательного аппарата, воспалительными заболеваниями нервной системы, демиелинизирующими заболеваниями нервной системы, наследственными заболеваниями нервной системы.</p>
									</div>
								</div>
							</div>

							<div class="team-member__wrapper col-w-50 col-gutters">
								<div class="team-member">
									<div class="team-member__photo thumbnail">
										<img src="img/team/4.png" alt="">
									</div>
									<div class="team-member__information">
										<h3 class="team-member__name">Ибрагимова Людмила Алексеевна</h3>
										<p>Врач терапевт. Стаж работы 40 лет. Специализируется на решении широкого  спектра проблем: диагностика, лечение и профилактика заболеваний внутренних органов,  выбирает наиболее эффективный метод лечебного воздействия, проводит динамическое наблюдение за состоянием здоровья пациентов, дает консультации по вопросам труда, питания, образа жизни, вакцинации.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->

				<div class="container">
					<div class="form-wrapper basic-white-color text-center">
						<h3 class="sect-title-sm">Не нашли ответ на свой вопрос?</h3>
						<p class="form-wrapper__description">Оставьте заявку на сайте, и наш врач проконсультирует Вас по всем вопросам</p>

						<form class="form">
							<!-- Hidden inputs -->
							<input type="hidden" name="project_name" value="Plasma Priority">
							<input type="hidden" name="admin_email" value="winde100kg@gmail.com">
							<input type="hidden" name="form_subject" value="Консультация">
							<!-- // Hidden inputs -->


							<div class="row inputs__row">
								<div class="input__wrapper col-w-33">
									<input type="text" class="input js-input b-radius-sm" name="Имя" placeholder="Ваше имя *">
								</div>
								<div class="input__wrapper col-w-33">
									<input type="tel" class="input js-input b-radius-sm" name="Телефон" placeholder="Ваш телефон *">
								</div>
								<div class="input__wrapper col-w-33">
									<button class="btn btn-wide" type="submit">получить консультацию</button>
								</div>
							</div>

							<p class="form__notice">* - мы не передаем Ваши персональные данные третьим лицам</p>


						</form>
					</div>
				</div>
			</section>
			<!-- //Section team -->

			
			
			

			<!-- Section contacts -->
			<section class="sect__contacts sect-under-form light-color-bg gutter-bottom" id="contacts">


				<div class="container">
					<div class="contacts row align-horisontal-between">

						<div class="contacts-block">
							<h2 class="sect-title">Наши контакты</h2>

							<div class="contacts-item">
								<h3 class="contacts-item__title">телефон:</h3>
								<p><a href="tel:+84951281780">8 (495) 128 17 80</a></p>
							</div>
							<div class="contacts-item">
								<h3 class="contacts-item__title">адрес:</h3>
								<div class="address">
									<p class="address-title">ООО “АРНИКА”</p>
									<p class="metro-item">Бульвар Дмитрия Донского</p>
									<p class="metro-item">улица Старокачаловская</p>
									<p>г.Москва, ул. Коктебельская, 4 корпус 1</p>
								</div>
							</div>
							<div class="contacts-item">
								<h3 class="contacts-item__title">время работы:</h3>
								<p>Пн-Пт: 09:00-18:00,<br>Сб-Вс: 10:00-17:00</p>
							</div>
							<div class="contacts-item">
								<h3 class="contacts-item__title">мы в соцсетях:</h3>
								{% include '../parts/components/socials.html' %}
							</div>

						</div>

						<!-- Map -->
						<div class="map__wrapper">
							<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/koktebelskaya_ulitsa_4k1/Z04Ycw9mSUAHQFtvfXl3dHtgbA==/?ll=37.586050%2C55.565738&utm_medium=mapframe&utm_source=maps&z=17.15" style="color:#eee;font-size:12px;position:absolute;top:14px;">Коктебельская улица, 4к1 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUA4AGxpD" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
						</div>
						<!-- //Map -->
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section contacts -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

		{% include '../parts/components/popups.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>