{% include '../parts/head.html' %}
<body id="home">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">



		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<!-- Section promo -->
			<section class="sect__promo">
				<h1 class="w3c">Собственная плазма - приоритет для восстановления вашего организма</h1>

				<div class="promo-slider">
					<div class="swiper-container js-promo-slider">
						<div class="swiper-wrapper">
							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/1.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title"><strong>Долой предрассудки!</strong></h2>
											<p>Качественное лечение - не роскошь! Премиальные технологии – по доступной цене!</p>
											{% include '../parts/components/btn-order.html' %}
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/2.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Лечение суставов методом синовиального протезирования<br><strong>БЕЗ ОПЕРАЦИЙ</strong></h2>
											<p>Быстро снимем боль, вернем подвижность</p>
											{% include '../parts/components/btn-order.html' %}
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/3.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Плазмотерапия ≠PRP –терапия. Мы применяем обе современные технологии, позволяющие сохранить свой сустав и избежать протезирования</h2>
											<p>Безопасные, научно обоснованные технологии использования собственной плазмы пациента</p>
											{% include '../parts/components/btn-order.html' %}
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/4.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Эффективное лечение остеохондроза (грыжи и протрузий) позвоночника</h2>
											<p>Используем все современные методы</p>
											{% include '../parts/components/btn-order.html' %}
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/5.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Индивидуальная реабилитация ваших суставов и позвоночника после травм и операций</h2>
											<p>Сократит срок восстановления в 2 раза</p>
											{% include '../parts/components/btn-order.html' %}
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->


						</div>

						<!-- Navigation -->
						<div class="promo-slider__navigation">
							<button class="btn__arrow btn__arrow--prev js-promo-slider-btn-prev" type="button">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
									<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
									c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
									L143.492,221.863z"/>
								</svg>
							</button>

							<button class="btn__arrow btn__arrow--next js-promo-slider-btn-next" type="button">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
									<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
									c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
									L143.492,221.863z"/>
								</svg>
							</button>
						</div>
						<!-- //Navigation -->

						<div class="slider__pagination js-promo-slider-pagination"></div>
					</div>
				</div>

			</section>
			<!-- //Section promo -->

			<!-- Section about -->
			<section class="sect__about gutters">


				<div class="container">

					<div class="about-us">
						<div class="row align-horisontal-between about-us__row">
							<div class="about-us__text col-w-50">
								<h2 class="sect-title">О нас</h2>
								<div class="content">
									<p><strong>Главная наша задача</strong> — комплексное лечение пациента, основанное на выявлении нарушений и  причины боли в опорно-двигательном аппарате и подбор оптимального, индивидуального варианта лечения, который позволит устранить их и приведет пациента к положительному результату. Мы используем все современные методы лечения, включая биотехнологии.</p>
								</div>
								<a href="page-about.html" class="btn btn-transparent">Подробнее о клинике</a>

							</div>

							<div class="about-us__slider col-w-50">
								<div class="swiper-container js-about-clinic-slider">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<a href="img/about/1.jpg" class="about-us__slide thumbnail" data-fancybox="about-clinic">
												<img src="img/about/1.jpg" alt="">
											</a>
										</div>
										<div class="swiper-slide">
											<a href="img/about/2.jpg" class="about-us__slide thumbnail" data-fancybox="about-clinic">
												<img src="img/about/2.jpg" alt="">
											</a>
										</div>
										<div class="swiper-slide">
											<a href="img/about/3.jpg" class="about-us__slide thumbnail" data-fancybox="about-clinic">
												<img src="img/about/3.jpg" alt="">
											</a>
										</div>
										<div class="swiper-slide">
											<a href="img/about/4.jpg" class="about-us__slide thumbnail" data-fancybox="about-clinic">
												<img src="img/about/4.jpg" alt="">
											</a>
										</div>
										<div class="swiper-slide">
											<a href="img/about/5.jpg" class="about-us__slide thumbnail" data-fancybox="about-clinic">
												<img src="img/about/5.jpg" alt="">
											</a>
										</div>

									</div>
								</div>

								<button class="btn__arrow btn__arrow--prev js-about-clinic-slider-btn-prev" type="button">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
										<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
										c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
										L143.492,221.863z"/>
									</svg>
								</button>

								<button class="btn__arrow btn__arrow--next js-about-clinic-slider-btn-next" type="button">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
										<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
										c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
										L143.492,221.863z"/>
									</svg>
								</button>
							</div>
						</div>
					</div>





					
				</div>
				<!-- //container -->
			</section>
			<!-- //Section about -->

			<!-- Section services -->
			<section class="sect__services light-color-bg gutters">
				<h2 class="sect-title container text-center sect-title_with-text">Что мы лечим</h2>
				<p class="container text-center sect-description">Симптомы и заболевания</p>

				<div class="container">
					<div class="services">
						<!-- Service -->
						<div class="service text-center">
							<h3 class="service-title">суставы</h3>
							<div class="content">
								<p>Каковы основные причины появления боли или неприятных ощущений в суставе? Как правило, это воспалительные процессы, травмы и их последствия, повреждение сосудов и нервов. В 75% обращений, причиной боли в суставах являются хронические дегенеративные заболевания: артроз, артрит. Эти заболевания прогрессирующие, разрушающие сустав, приводящие к инвалидности.<br><strong>СВОЕВРЕМЕННО НАЧАТОЕ ЛЕЧЕНИЕ – ШАНС СОХРАНИТЬ ПОДВИЖНОСТЬ!</strong></p>
							</div>

							<div class="service-cards row align-horisontal-center row-gutters">
								<!-- Card -->
								<div class="col-gutters col-w-33 card-wrapper">
									<article class="card">
										<a href="page-service.html" class="card-thumbnail thumbnail">
											<img src="img/services/1.jpg" alt="">
										</a>
										<div class="card-content">
											<h4 class="card-content__title">
												<a href="page-service.html">плечевой сустав</a>
											</h4>
											<p>Краткое описание услуги в две строки</p>
											<a href="page-service.html" class="card-permalink">подробнее</a>
										</div>
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="col-gutters col-w-33 card-wrapper">
									<article class="card">
										<a href="page-service.html" class="card-thumbnail thumbnail">
											<img src="img/services/2.jpg" alt="">
										</a>
										<div class="card-content">
											<h4 class="card-content__title">
												<a href="page-service.html">коленный сустав</a>
											</h4>
											<p>Краткое описание услуги в две строки</p>
											<a href="page-service.html" class="card-permalink">подробнее</a>
										</div>
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="col-gutters col-w-33 card-wrapper">
									<article class="card">
										<a href="page-service.html" class="card-thumbnail thumbnail">
											<img src="img/services/3.jpg" alt="">
										</a>
										<div class="card-content">
											<h4 class="card-content__title">
												<a href="page-service.html">тазобедренный сустав</a>
											</h4>
											<p>Краткое описание услуги в две строки</p>
											<a href="page-service.html" class="card-permalink">подробнее</a>
										</div>
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="col-gutters col-w-33 card-wrapper">
									<article class="card">
										<a href="page-service.html" class="card-thumbnail thumbnail">
											<img src="img/services/4.jpg" alt="">
										</a>
										<div class="card-content">
											<h4 class="card-content__title">
												<a href="page-service.html">локтевой сустав</a>
											</h4>
											<p>Краткое описание услуги в две строки</p>
											<a href="page-service.html" class="card-permalink">подробнее</a>
										</div>
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="col-gutters col-w-33 card-wrapper">
									<article class="card">
										<a href="page-service.html" class="card-thumbnail thumbnail">
											<img src="img/services/5.jpg" alt="">
										</a>
										<div class="card-content">
											<h4 class="card-content__title">
												<a href="page-service.html">голеностопный сустав</a>
											</h4>
											<p>Краткое описание услуги в две строки</p>
											<a href="page-service.html" class="card-permalink">подробнее</a>
										</div>
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="col-gutters col-w-33 card-wrapper">
									<article class="card">
										<a href="page-service.html" class="card-thumbnail thumbnail">
											<img src="img/services/6.jpg" alt="">
										</a>
										<div class="card-content">
											<h4 class="card-content__title">
												<a href="page-service.html">кисть</a>
											</h4>
											<p>Краткое описание услуги в две строки</p>
											<a href="page-service.html" class="card-permalink">подробнее</a>
										</div>
									</article>
								</div>
								<!-- //Card -->
							</div>
						</div>
						<!-- //Service -->

						<!-- Service -->
						<div class="service text-center">
							<h3 class="service-title">позвоночник</h3>
							<div class="content">
								<p><strong>Остеохондроз</strong> – хроническое заболевание, которое поражает позвоночный столб. В ходе болезни наибольшему разрушению подвергаются межпозвоночные диски, сосуды и нервы. Лечение необходимо начинать при первых проявлениях боли. Симптомами заболевания могут быть сильные головные боли, шум в ушах, нарушения зрения, онемение рук, ограничение подвижности и боль в любом отделе позвоночника.</p>
							</div>

							<div class="service-cards row align-horisontal-center row-gutters">
								<!-- Card -->
								<div class="col-gutters col-w-33 card-wrapper">
									<article class="card">
										<a href="page-service.html" class="card-thumbnail thumbnail">
											<img src="img/services/7.png" alt="">
										</a>
										<div class="card-content">
											<h4 class="card-content__title">
												<a href="page-service.html">шейный отдел</a>
											</h4>
											<p>Краткое описание услуги в две строки</p>
											<a href="page-service.html" class="card-permalink">подробнее</a>
										</div>
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="col-gutters col-w-33 card-wrapper">
									<article class="card">
										<a href="page-service.html" class="card-thumbnail thumbnail">
											<img src="img/services/8.png" alt="">
										</a>
										<div class="card-content">
											<h4 class="card-content__title">
												<a href="page-service.html">грудной отдел</a>
											</h4>
											<p>Краткое описание услуги в две строки</p>
											<a href="page-service.html" class="card-permalink">подробнее</a>
										</div>
									</article>
								</div>
								<!-- //Card -->

								<!-- Card -->
								<div class="col-gutters col-w-33 card-wrapper">
									<article class="card">
										<a href="page-service.html" class="card-thumbnail thumbnail">
											<img src="img/services/9.png" alt="">
										</a>
										<div class="card-content">
											<h4 class="card-content__title">
												<a href="page-service.html">поясничный отдел</a>
											</h4>
											<p>Краткое описание услуги в две строки</p>
											<a href="page-service.html" class="card-permalink">подробнее</a>
										</div>
									</article>
								</div>
								<!-- //Card -->

							</div>
						</div>
						<!-- //Service -->
					</div>


					<div class="text-center permalink-wrapper">
						{% include '../parts/components/btn-order-accent.html' %}
					</div>

				</div>
				<!-- //container -->

			</section>
			<!-- //Section services -->

			<!-- Section procedures -->
			<section class="sect__procedures gutters">
				<h2 class="sect-title container text-center">основные процедуры нашей клиники</h2>


				<div class="container">
					<div class="service-cards procedures-cards row align-horisontal-center row-gutters">
						<!-- Card -->
						<div class="col-gutters col-w-33 card-wrapper">
							<article class="card card-alternate-color">
								<a href="page-procedure.html" class="card-thumbnail thumbnail">
									<img src="img/procedures/1.jpg" alt="">
								</a>
								<div class="card-content">
									<h4 class="card-content__title">
										<a href="page-procedure.html">PRP-терапия и плазмотерапия</a>
									</h4>
									<a href="page-procedure.html" class="card-permalink">подробнее</a>
								</div>
							</article>
						</div>
						<!-- //Card -->

						<!-- Card -->
						<div class="col-gutters col-w-33 card-wrapper">
							<article class="card card-alternate-color">
								<a href="page-procedure.html" class="card-thumbnail thumbnail">
									<img src="img/procedures/2.jpg" alt="">
								</a>
								<div class="card-content">
									<h4 class="card-content__title">
										<a href="page-procedure.html">Внутрисуставные инъекции и блокады лекарственными препаратами</a>
									</h4>
									<a href="page-procedure.html" class="card-permalink">подробнее</a>
								</div>
							</article>
						</div>
						<!-- //Card -->

						<!-- Card -->
						<div class="col-gutters col-w-33 card-wrapper">
							<article class="card card-alternate-color">
								<a href="page-procedure.html" class="card-thumbnail thumbnail">
									<img src="img/procedures/3.png" alt="">
								</a>
								<div class="card-content">
									<h4 class="card-content__title">
										<a href="page-procedure.html">Лечение остеохондроза</a>
									</h4>
									<a href="page-procedure.html" class="card-permalink">подробнее</a>
								</div>
							</article>
						</div>
						<!-- //Card -->

						<!-- Card -->
						<div class="col-gutters col-w-33 card-wrapper">
							<article class="card card-alternate-color">
								<a href="page-procedure.html" class="card-thumbnail thumbnail">
									<img src="img/procedures/4.png" alt="">
								</a>
								<div class="card-content">
									<h4 class="card-content__title">
										<a href="page-procedure.html">Терапия</a>
									</h4>
									<a href="page-procedure.html" class="card-permalink">подробнее</a>
								</div>
							</article>
						</div>
						<!-- //Card -->

						<!-- Card -->
						<div class="col-gutters col-w-33 card-wrapper">
							<article class="card card-alternate-color">
								<a href="page-procedure.html" class="card-thumbnail thumbnail">
									<img src="img/procedures/5.png" alt="">
								</a>
								<div class="card-content">
									<h4 class="card-content__title">
										<a href="page-procedure.html">Лабораторная диагностика</a>
									</h4>
									<a href="page-procedure.html" class="card-permalink">подробнее</a>
								</div>
							</article>
						</div>
						<!-- //Card -->
					</div>

					{% include '../parts/components/quiz-form-block.html' %}

				</div>
				<!-- //container -->

			</section>
			<!-- //Section procedures -->

			<!-- Section advantages -->
			<section class="sect__advantages gutters dark-bg basic-white-color">
				<h2 class="sect-title  container text-center">Преимущества нашей клиники</h2>

				<div class="container">
					<div class="row row-gutters align-horisontal-start advantages__row">
						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_1.svg');"></span>
								<p>Мы предоставляем широкий спектр услуг, чтобы у каждого человека была возможность получить качественную помощь. Наши специалисты предложат пациенту на выбор несколько вариантов лечения в соответствии именно с его ситуацией и будут  работать с каждым из Вас до получения клинического результата. Мы заинтересованы в нем не меньше самого пациента!</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_2.svg');"></span>
								<p>Наши врачи стояли у истоков разработки технологии применения тромбоцитарной плазмы в ортопедии, практикуют ее уже больше 10 лет. Клинический опыт успешного лечения у более 16000 пациентов (один из самых обширных в мире). Они в совершенстве владеют этой безопасной и очень и очень эффективной методикой.</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_3.svg');"></span>
								<p>У вас есть гарантия того, что вы попадете на прием к опытным, практикующим специалистам, у которых за плечами многолетний опыт работы оперирующих ортопедов, которые глубоко знают проблему  заболеваний суставов, позвоночника, повреждений связок, мышц, сухожилий, переломов костей всех локализаций, способы их лечения и восстановления после травм и операций.</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_4.svg');"></span>
								<p>Индивидуальный подход к каждому. При составлении схемы лечения учитывается множество факторов. Мы лечим именно пациента, а не его болезнь и не результаты его анализов. Вы можете быть уверены в том, что назначенное вам лечение обязательно поможет!</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_5.svg');"></span>
								<p>Наша ценовая политика рассчитана на людей с любым достатком. Предлагаемые варианты лечения предполагают возможность решения проблемы, как при однократном посещении, так и при курсовом лечении. Предоставляется гибкая система скидок и возможность поэтапной оплаты.</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_6.svg');"></span>
								<p>Узнать о наших врачах, о методах нашей работы, услышать ответы на самые насущные вопросы, вы можете, просмотрев цикл коротких видео на нашем YOUTUBE – канале. Вы получите ответы на злободневные вопросы, услышите полезные советы от наших ведущих специалистов.</p>
							</div>
						</div>
					</div>

					<div class="text-center permalink-wrapper">
						{% include '../parts/components/btn-order.html' %}
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section advantages -->

			<!-- Section team -->
			<section class="sect__team gutters">
				<h2 class="sect-title text-center">наши специалисты</h2>
				<div class="container">

					<div class="team">
						<div class="service-cards row align-horisontal-center row-gutters">
							<!-- Card -->
							<div class="col-gutters col-w-25 card-wrapper">
								<article class="card card-alternate-color ">
									<a href="page-team-single.html" class="card-thumbnail thumbnail">
										<img src="img/team/1.png" alt="">
									</a>
									<div class="card-content">
										<h4 class="card-content__title">
											<a href="page-team-single.html">Карев Дмитрий Борисович</a>
										</h4>
										<p>Врач травматолог-ортопед</p>
										<a href="page-team-single.html" class="card-permalink">подробнее</a>
									</div>
								</article>
							</div>
							<!-- //Card -->

							<!-- Card -->
							<div class="col-gutters col-w-25 card-wrapper">
								<article class="card card-alternate-color">
									<a href="page-team-single.html" class="card-thumbnail thumbnail">
										<img src="img/team/2.png" alt="">
									</a>
									<div class="card-content">
										<h4 class="card-content__title">
											<a href="page-team-single.html">Карев Борис Дмитриевич</a>
										</h4>
										<p>Врач травматолог-ортопед</p>
										<a href="page-team-single.html" class="card-permalink">подробнее</a>
									</div>
								</article>
							</div>
							<!-- //Card -->

							<!-- Card -->
							<div class="col-gutters col-w-25 card-wrapper">
								<article class="card card-alternate-color">
									<a href="page-team-single.html" class="card-thumbnail thumbnail">
										<img src="img/team/3.png" alt="">
									</a>
									<div class="card-content">
										<h4 class="card-content__title">
											<a href="page-team-single.html">Алиев Али Асхабалиевич</a>
										</h4>
										<p>Врач невролог</p>
										<a href="page-team-single.html" class="card-permalink">подробнее</a>
									</div>
								</article>
							</div>
							<!-- //Card -->

							<!-- Card -->
							<div class="col-gutters col-w-25 card-wrapper">
								<article class="card card-alternate-color">
									<a href="page-team-single.html" class="card-thumbnail thumbnail">
										<img src="img/team/4.png" alt="">
									</a>
									<div class="card-content">
										<h4 class="card-content__title">
											<a href="page-team-single.html">Ибрагимова Людмила Алексеевна</a>
										</h4>
										<p>Врач терапевт</p>
										<a href="page-team-single.html" class="card-permalink">подробнее</a>
									</div>
								</article>
							</div>
							<!-- //Card -->
						</div>

						<div class="text-center ">
							<a href="page-team.html" class="btn btn-transparent">больше о специалистах</a>
						</div>

					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section team -->

			<!-- Section faq -->
			<section class="sect__faqs gutters light-color-bg">
				<h2 class="sect-title container text-center sect-title_with-text">часто задаваемые вопросы и мифы</h2>
				<p class="container text-center sect-description">Об использовании тромбоцитарной аутологичной плазмы в лечении суставных заболеваний и заболеваний позвоночника</p>

				<div class="container">
					<div class="tab-controls">
						<button class="btn-tab js-tab-btn is-active" type="button">вопрос-ответ</button>
						<button class="btn-tab js-tab-btn " type="button">мифы</button>
					</div>



					<div class="faqs">

						<!-- TAb item -->
						<div class="faqs-item js-tab-content">


							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- //TAb item -->

						<!-- TAb item -->
						<div class="faqs-item js-tab-content">

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Существует множество средств, позволяющих вылечить артроз.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">При возникновении боли можно самостоятельно справиться с ней, прочитав статью или рекламу в интернете или спросив совета в аптеке.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Обращаться к врачу нужно, когда боль в суставе будет сильной и постоянной.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Гормональные препараты быстро и легко «справляются» с артрозом.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Гарантия на эндопротез тазобедренного или коленного суставов ведущих мировых производителей 25 лет.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Хондропротекторы способны вылечить артроз.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- //TAb item -->



					</div>

					<div class="text-center permalink-wrapper">
						<a href="page-faq.html" class="btn btn-transparent">смотреть все вопросы и мифы</a>
					</div>


					
				</div>
				<!-- //container -->
			</section>
			<!-- //Section faq -->



			<!-- Section feedbacks -->
			<section class="sect__feedbacks gutters dark-color-bg" >
				<h2 class="sect-title container text-center basic-white-color">Отзывы пациентов</h2>

				<div class="feedbacks-slider">
					<div class="swiper-container js-feedbacks-slider">
						<div class="swiper-wrapper">
							<!-- Feedback -->
							<div class="swiper-slide">
								<div class="feedback-slide">
									<blockquote class="feedback-slide__text">
										<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром, позволяет восстановить объем движений в суставе, запускает и активизирует процесс регенерации повреждённых тканей, останавливает процесс разрушения сустава.</p>
									</blockquote>
									<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
									<p class="feedback-slide__author-age">54 года</p>
								</div>
							</div>
							<!-- //Feedback -->

							<!-- Feedback -->
							<div class="swiper-slide">
								<div class="feedback-slide">
									<blockquote class="feedback-slide__text">
										<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром.</p>
									</blockquote>
									<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
									<p class="feedback-slide__author-age">54 года</p>
								</div>
							</div>
							<!-- //Feedback -->

							<!-- Feedback -->
							<div class="swiper-slide">
								<div class="feedback-slide">
									<blockquote class="feedback-slide__text">
										<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром, позволяет восстановить объем движений в суставе, запускает и активизирует процесс регенерации повреждённых тканей, останавливает процесс разрушения сустава.</p>
									</blockquote>
									<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
									<p class="feedback-slide__author-age">54 года</p>
								</div>
							</div>
							<!-- //Feedback -->

							<!-- Feedback -->
							<div class="swiper-slide">
								<div class="feedback-slide">
									<blockquote class="feedback-slide__text">
										<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром.</p>
									</blockquote>
									<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
									<p class="feedback-slide__author-age">54 года</p>
								</div>
							</div>
							<!-- //Feedback -->
						</div>
					</div>

					<!-- Navigation -->
					<div class="feedbacks-slider__navigation">
						<button class="btn__arrow btn__arrow--prev js-feedbacks-slider-btn-prev" type="button">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
								<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
								c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
								L143.492,221.863z"/>
							</svg>
						</button>

						<button class="btn__arrow btn__arrow--next js-feedbacks-slider-btn-next" type="button">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
								<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
								c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
								L143.492,221.863z"/>
							</svg>
						</button>
					</div>
					<!-- //Navigation -->

					<!-- Pagination -->
					<div class="container">
						<div class="slider__pagination js-feedbacks-slider-pagination"></div>
					</div>
					<!-- //Pagination -->
				</div>

				<div class="container text-center permalink-wrapper">
					<a href="page-feedbacks.html" class="btn btn-transparent btn-transparent-light">смотреть все вопросы и мифы</a>
				</div>
			</section>
			<!-- //Section feedbacks -->

			<!-- Section prices -->
			<section class="sect__prices gutters" id="prices">
				<h2 class="sect-title container text-center">Прайс-лист</h2>

				<div class="container">
					<div class="prices">
						<div class="prices-item accordion-item">
							<div class="prices-item__header accordion-header">
								<h3 class="prices-item__title accordion-title">Ортопедия</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="prices-item__body accordion-body">

								<table class="prices-table">
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация)</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>29 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
								</table>

								<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
							</div>
						</div>

						<div class="prices-item accordion-item">
							<div class="prices-item__header accordion-header">
								<h3 class="prices-item__title accordion-title">Неврология</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="prices-item__body accordion-body">

								<table class="prices-table">
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация)</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>29 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
								</table>

								<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
							</div>
						</div>

						<div class="prices-item accordion-item">
							<div class="prices-item__header accordion-header">
								<h3 class="prices-item__title accordion-title">Терапия</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="prices-item__body accordion-body">

								<table class="prices-table">
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация)</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>29 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
								</table>

								<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
							</div>
						</div>

						<div class="prices-item accordion-item">
							<div class="prices-item__header accordion-header">
								<h3 class="prices-item__title accordion-title">Прочие услуги</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="prices-item__body accordion-body">

								<table class="prices-table">
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
								</table>

								<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
							</div>
						</div>

					</div>

					<p class="prices-block-notice">Цены и весь ассортимент услуг уточняйте по телефону у администратора клиники</p>


					<div class="text-center permalink-wrapper">
						<a href="page-pricelist.html" class="btn btn-transparent">смотреть все расценки</a>
					</div>

					
				</div>
				<!-- //container -->
			</section>
			<!-- //Section prices -->

			<section class="sect__docs gutters light-color-bg">
				<h2 class="sect-title container text-center">Лицензии и сертификаты</h2>

				<div class="sertificates-slider">
					<div class="swiper-container js-sertificates-slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="sertificate">
									<a href="img/sertificates/1.jpg" class="sertificate-link" data-fancybox>
										<img src="img/sertificates/1.jpg" alt="">
									</a>
								</div>
							</div>

							
							<div class="swiper-slide">
								<div class="sertificate">
									<a href="img/sertificates/3.jpg" class="sertificate-link" data-fancybox>
										<img src="img/sertificates/3.jpg" alt="">
									</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="sertificate">
									<a href="img/sertificates/4.jpg" class="sertificate-link" data-fancybox>
										<img src="img/sertificates/4.jpg" alt="">
									</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="sertificate">
									<a href="img/sertificates/5.jpg" class="sertificate-link" data-fancybox>
										<img src="img/sertificates/5.jpg" alt="">
									</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="sertificate">
									<a href="img/sertificates/2.jpg" class="sertificate-link" data-fancybox>
										<img src="img/sertificates/2.jpg" alt="">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="slider__pagination slider__pagination--dark js-sertificates-slider-pagination"></div>

				
			</section>


			<section class="sect__news gutters">
				<h2 class="sect-title container text-center">новости клиники</h2>

				<div class="container">

					<div class="articles-cards">
						<div class="row align-horisontal-start row-gutters">
							<div class="article-card__wrapper col-w-33 col-gutters">
								<article class="article-card">
									<a href="page-article.html" class="article-card__thumbnail thumbnail">
										<img src="img/thumb.jpg" alt="">
									</a>
									<p class="article-date">15.04.2021</p>
									<h3 class="article-card__title">
										<a href="page-article.html">Далеко-далеко за словесными, горами в стране.</a>
									</h3>
								</article>
							</div>

							<div class="article-card__wrapper col-w-33 col-gutters">
								<article class="article-card">
									<a href="page-article.html" class="article-card__thumbnail thumbnail">
										<img src="img/thumb.jpg" alt="">
									</a>
									<p class="article-date">15.04.2021</p>
									<h3 class="article-card__title">
										<a href="page-article.html">Далеко-далеко за словесными, горами в стране.</a>
									</h3>
								</article>
							</div>

							<div class="article-card__wrapper col-w-33 col-gutters">
								<article class="article-card">
									<a href="page-article.html" class="article-card__thumbnail thumbnail">
										<img src="img/thumb.jpg" alt="">
									</a>
									<p class="article-date">15.04.2021</p>
									<h3 class="article-card__title">
										<a href="page-article.html">Далеко-далеко за словесными, горами в стране.</a>
									</h3>
								</article>
							</div>
						</div>

						<div class="text-center permalink-wrapper">
							<a href="page-news.html" class="btn btn-transparent">читать все новости</a>
						</div>


					</div>

					

				</div>
				<!-- //container -->
			</section>


			{% include '../parts/sections/sect-seo.html' %}
			

			<!-- Section contacts -->
			{% include '../parts/sections/sect-contacts.html' %}
			<!-- //Section contacts -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


		
		{% include '../parts/components/quiz.html' %}

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>