{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popups.html' %}
		{% include '../parts/components/quiz.html' %}

		<!-- Go to up btn -->
		<button type="button" class="btn__top js-go-to-top-btn" title="К началу страницы"></button>
		<!-- // Go to up btn  -->

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<!-- Section promo -->
			<section class="sect__promo" id="home">
				<h1 class="w3c">Собственная плазма - приоритет для восстановления вашего организма</h1>

				<div class="promo-slider">
					<div class="swiper-container js-promo-slider">
						<div class="swiper-wrapper">
							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/1.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Консультация, диагностика и процедуры - все в день посещения</h2>
											<h3>Безопасное и высокоэффективное лечение суставов с использованием собственной плазмы пациента</h3>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/2.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Лечение артроза суставов<br><strong>БЕЗ ОПЕРАЦИЙ</strong></h2>
											<h3>Безопасное и высокоэффективное лечение суставов с использованием собственной плазмы пациента</h3>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/3.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Приведи друга - <br>заработай сам</h2>
											<h3>Безопасное и высокоэффективное лечение суставов с использованием собственной плазмы пациента</h3>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/promo/4.jpg');">
									<div class="container">
										<div class="promo-slide__content basic-white-color">
											<h2 class="promo-slide__title">Перенесли COVID-19?<br>Чувствуете слабость?</h2>
											<p>Привычные движения вызывают непреодолимое желание прилечь? Не можете вздохнуть полной грудью? Самое время помочь организму восстановить силы! Вы можете устранить последствия от самой инфекции и медикаментозной нагрузки на организм, воспользовавшись реабилитационными мероприятиями, чтобы быстрее вернуться к полноценной жизни… В нашей клинике Вам подберут индивидуальную комплексную программу восстановления, исходя из тяжести перенесенного заболевания. Давайте вместе позаботимся о Вашем здоровье!</p>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->
						</div>

						<!-- Navigation -->
						<div class="promo-slider__navigation">
							<button class="btn__arrow btn__arrow--prev js-promo-slider-btn-prev" type="button">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
									<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
									c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
									L143.492,221.863z"/>
								</svg>
							</button>

							<button class="btn__arrow btn__arrow--next js-promo-slider-btn-next" type="button">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
									<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
									c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
									L143.492,221.863z"/>
								</svg>
							</button>
						</div>
						<!-- //Navigation -->

						<div class="slider__pagination js-promo-slider-pagination"></div>
					</div>
				</div>

			</section>
			<!-- //Section promo -->

			<div class="promo-block__form b-radius-lg">
				<form class="form">
					<!-- Hidden inputs -->
					<input type="hidden" name="project_name" value="Plasma Priority">
					<input type="hidden" name="admin_email" value="winde100kg@gmail.com">
					<input type="hidden" name="form_subject" value="Запись на прием">
					<!-- // Hidden inputs -->


					<div class="row inputs__row">
						<div class="input__wrapper col-w-33">
							<input type="text" class="input js-input b-radius-sm" name="Имя" placeholder="Ваше имя *">
						</div>
						<div class="input__wrapper col-w-33">
							<input type="tel" class="input js-input b-radius-sm" name="Телефон" placeholder="Ваш телефон *">
						</div>
						<div class="input__wrapper col-w-33">
							<button class="btn btn-wide" type="submit">Записаться на прием</button>
						</div>
					</div>

					<p class="form__notice">* - мы не передаем Ваши персональные данные третьим лицам</p>


				</form>
			</div>

			<!-- Section about -->
			<section class="sect__about" id="services">
				<h2 class="sect-title text-center container">Что такое плазмотерапия?</h2>

				<div class="container">

					<div class="row align-horisontal-start row-gutters about-service__row">
						<!-- Item -->
						<div class="col-w-33 col-gutters about-service-item__wrapper">
							<div class="about-service-item b-radius-lg">
								<div class="about-service-item__description">
									<h3 class="about-service-item__title">О методе</h3>
									<p>Использование собственной плазмы для лечения суставов — метод, в основе которого лежит способность человеческого организма к самовосстановлению, регенерации, лечению многих хронических заболеваний силами самого организма.</p>
								</div>
								
								<img src="img/about/1.png" alt="">
							</div>
						</div>
						<!-- //Item -->

						<!-- Item -->
						<div class="col-w-33 col-gutters about-service-item__wrapper">
							<div class="about-service-item b-radius-lg">
								<div class="about-service-item__description">
									<h3 class="about-service-item__title">Суть лечения</h3>
									<p>Тромбоцитарная аутологичная плазма (ТАП) в ортопедии творит чудеса. Болезни суставов с трудом поддаются лечению. Факторы роста, содержащиеся в тромбоцитах, активизируют обменные процессы и восстановление тканей. Плазма -  самый мощный, безопасный и эффективный стимулятор процессов регенерации.</p>
								</div>
								
								<img src="img/about/2.png" alt="">
							</div>
						</div>
						<!-- //Item -->

						<!-- Item -->
						<div class="col-w-33 col-gutters about-service-item__wrapper">
							<div class="about-service-item b-radius-lg">
								<div class="about-service-item__description">
									<h3 class="about-service-item__title">Процедура</h3>
									<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром, позволяет восстановить объем движений в суставе, запускает и активизирует процесс регенерации повреждённых тканей, останавливает процесс разрушения сустава, на начальных стадиях восстанавливает его структуры.</p>
								</div>

							</div>
						</div>
						<!-- //Item -->
					</div>

					<blockquote class="about-service__blockquote b-radius-lg light-color-bg">
						<p><strong>Тромбоциты</strong> — это форменные элементы крови, которые играют важную роль в процессах восстановления и заживления. Терапевтическое действие плазмы при заболевании суставов основано именно на свойствах тромбоцитов. Факторы роста воздействуют на клетки пораженных зон, побуждая их интенсивно делиться и выделять биологически активные вещества. В результате ткани быстрее заживают и регенерируют.</p>
					</blockquote>


					<div class="service-steps">
						<h3 class="sect-title text-center">Как проходит процедура?</h3>

						<div class="row row-gutters align-horisontal-start service-steps__row">
							<div class="col-w-33 col-gutters service-step__wrapper">
								<div class="service-step">
									<span class="service-step__count">01</span>
									<div class="service-step__img img-wrapper"><img src="img/steps/1.jpg" alt=""></div>
									<p>У пациента производят забор небольшого количества крови в стерильную пробирку</p>
								</div>
							</div>
							<div class="col-w-33 col-gutters service-step__wrapper">
								<div class="service-step">
									<span class="service-step__count">02</span>
									<div class="service-step__img img-wrapper"><img src="img/steps/2.jpg" alt=""></div>
									<p>Из крови выделяют плазму, обогащённую тромбоцитами</p>
								</div>
							</div>
							<div class="col-w-33 col-gutters service-step__wrapper">
								<div class="service-step">
									<span class="service-step__count">03</span>
									<div class="service-step__img img-wrapper"><img src="img/steps/3.jpg" alt=""></div>
									<p>Врач делает инъекцию (укол) в место, требующее лечения</p>
								</div>
							</div>
						</div>
					</div>

					<div class="attention">
						<p>Имеются противопоказания. Требуется консультация специалиста</p>
					</div>


					<div class="form-wrapper basic-white-color text-center">
						<h3 class="sect-title-sm">Можете больше узнать о своих суставах,<br>ответив на 7 вопросов</h3>
						<p class="form-wrapper__description">и получить ПОДАРОК – консультацию опытного врача травматолога-ортопеда!</p>

						<button class="btn js-open-quiz-popup-btn" type="button">пройти опрос и получить подарок</button>

						<p class="form__notice">Бонусы после прохождения теста</p>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section about -->

			<!-- Section advantages -->
			<section class="sect__advantages gutter-bottom sect-under-form light-color-bg" id="advantages">
				<h2 class="sect-title sect-title_with-text container text-center">Преимущества плазмотерапии</h2>
				<p class="container text-center sect-description">Плазма с тромбоцитами, являясь живительной средой вашего организма, индивидуальна, оптимальна для него, всегда высокого качества. Всегда вызывает «правильный» биологический ответ</p>

				<div class="container">
					<div class="row row-gutters align-horisontal-start advantages__row">
						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_1.svg');"></span>
								<p>Несмотря на то, что инъекцию проводят внутри и околосуставно, и максимален именно локальный эффект, плазма оказывает положительное влияние на другие ткани, органы и системы</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_2.svg');"></span>
								<p>Плазма хорошо совместима с другими способами лечения: она дополняет и усиливает их действие. Благодаря этому часто удается снизить количество и дозы препаратов, принимаемых пациентом</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_3.svg');"></span>
								<p>Минимальная травматичность. Процедура практически безболезненна, пациент не нуждается в реабилитации. В день проведения  процедуры можно заниматься привычными делами</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_4.svg');"></span>
								<p>У вас есть гарантия того, что вы попадете на прием к опытному, практикующему специалисту, который глубоко знает проблему суставных заболеваний и уделит вам  время, необходимое для получения клинического результата</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_5.svg');"></span>
								<p>Эффект от проведенного лечения:<br>уменьшается боль; восстанавливается подвижность суставов; замедляется или останавливается процесс разрушения костной и хрящевой ткани; улучшается кровоснабжение в пораженной зоне; увеличивается объем внутрисуставной жидкости; снижается интенсивность воспалительного процесса</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/advantages/features_6.svg');"></span>
								<p>Ваш врач долгие годы специализируется на использовании тромбоцитарной плазмы для лечения суставов, и знает насколько она эффективна и безопасна; знает, как ее правильно применять при тех или иных заболеваниях</p>
							</div>
						</div>
					</div>

					<div class="text-center">
						<button class="btn js-open-callback-popup-btn" type="button" data-btn-text="Отправить заявку" data-form-theme="Запись на прием">Записаться на прием</button>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section advantages -->

			<!-- Section team -->
			<section class="sect__team gutters" id="aboutUs">
				<h2 class="sect-title container text-left">О нас</h2>
				<div class="container">
					<div class="team-description">
						<div class="row align-horisontal-between team-description__row">
							<div class="content">
								<p>Кроме применения традиционных методов лечения, отличительной особенностью НАШЕЙ КЛИНИКИ, является использование современной технологии лечения суставов и позвоночника с помощью собственной плазмы пациента (ТАП), известной в настоящее время как PRP- терапия, Плазмотерапия, Плазмолифтинг.</p>
								<p>Наши врачи стояли у истоков разработки технологии, применяют ее уже больше 8 лет, у более 15000 пациентов (один из самых  обширных в мире), и, получив хорошие результаты, они полностью себя посвятили ей. Они в совершенстве владеют этой безопасной и очень эффективной методикой. Ранее это оперирующие специалисты, которые занимались заменой суставов, артроскопией, остеосинтезом, реконструктивной хирургией костей и суставов. </p>
								<p>Каждому пациенту гарантирован индивидуальный подход и работа до получения результата.</p>
							</div>

							<div class="office">
								<img src="img/office.png" alt="">
								<p>Врачи нашей клиники всегда готовы Вам помочь</p>
							</div>
						</div>
					</div>

					<div class="team">
						<h3 class="sect-title-sm">Наша команда</h3>
						<!-- Team member -->
						<div class="team-member">
							<div class="team-member__photo bg" style="background-image: url('img/team/1.jpg');">
								<img src="img/team/1.jpg" alt="Карев Дмитрий Борисович фото">
							</div>
							<div class="team-member__information">
								<h4 class="team-member__name">Карев Дмитрий Борисович</h4>
								<p class="team-member__experience">опыт использования методики - более 8 лет</p>
								<p class="team-member__position">Кандидат медицинских наук, доцент, врач травматолог-ортопед высшей квалификационной категории, 30 летний стаж работы в ортопедии.</p>
								<div class="team-member__description">
									<p>Владеет техникой первичного и ревизионного эндопротезирования тазобедренного и коленного сустава, рядом реконструктивных операций на тазобедренном суставе (разработчик оригинальных методик остеотомий бедренной кости при переломах шейки бедра и концепции биологического остеосинтеза). Автор 84 научных публикаций (в том числе в Европейских научных журналах), монографии, 14 патентов. Разработчик направления применения   аутологичной тромбоцитарной плазмы в травматологии и ортопедии. Организатор первого в мире специализированного центра на территории РБ, использующего плазму в лечении суставных заболеваний. Личный опыт применения плазмы (самый большой в мире) - более 15 000 пациентов.</p>
								</div>
							</div>
						</div>
						<!-- //Team member -->

						<!-- Team member -->
						<div class="team-member">
							<div class="team-member__photo bg" style="background-image: url('img/team/2.jpg');">
								<img src="img/team/2.jpg" alt="Карев Дмитрий Борисович фото">
							</div>
							<div class="team-member__information">
								<h3 class="team-member__name">Карев Борис Дмитриевич</h3>
								<p class="team-member__experience">опыт использования методики - 5 лет</p>
								<p class="team-member__position">Врач травматолог-ортопед первой квалификационной категории, практикующий специалист.</p>
								<div class="team-member__description">
									<p>Владеет артроскопией коленного сустава, техникой первичного эндопротезирования тазобедренного сустава, современными методиками накостного и интрамедулярного остеосинтеза, реконструктивных операций на переднем отделе стопы. Автор 10 научных публикаций ( в том числе в Европейских научных журналах), 5 патентов. Личный опыт применения плазмы более 1500 пациентов.</p>
								</div>
							</div>
						</div>
						<!-- //Team member -->

						<!-- Team member -->
						<div class="team-member">
							<div class="team-member__photo bg" style="background-image: url('img/team/2.jpg');">
								<img src="img/team/2.jpg" alt="Карев Дмитрий Борисович фото">
							</div>
							<div class="team-member__information">
								<h3 class="team-member__name">Карев Борис Дмитриевич</h3>
								<p class="team-member__experience">опыт использования методики - 5 лет</p>
								<p class="team-member__position">Врач травматолог-ортопед первой квалификационной категории, практикующий специалист.</p>
								<div class="team-member__description">
									<p>Владеет артроскопией коленного сустава, техникой первичного эндопротезирования тазобедренного сустава, современными методиками накостного и интрамедулярного остеосинтеза, реконструктивных операций на переднем отделе стопы. Автор 10 научных публикаций ( в том числе в Европейских научных журналах), 5 патентов. Личный опыт применения плазмы более 1500 пациентов.</p>
								</div>
							</div>
						</div>
						<!-- //Team member -->
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section team -->

			<!-- Section treatment -->
			<section class="sect__treatment light-color-bg gutters" id="treatment">
				<h2 class="sect-title container text-center">Что мы лечим</h2>
				<p class="sect-subtitle container text-center">Принцип действия и особенности применения<br><strong>«тромбоцитарной аутологичной плазмы (ТАП)» </strong></p>

				<div class="container">
					<div class="treatment">
						<div class="treatment-item accordion-item">
							<div class="treatment-item__header accordion-header">
								<h3 class="treatment-item__title accordion-title">Ортопедия</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="treatment-item__body accordion-body">
								<div class="content">
									<ul>
										<li>поллиноз (в виде порошка, назального спрея или ингаляций);</li>
										<li>вазомоторный ринит (в виде порошка, назального спрея или ингаляций);</li>
										<li>ХОБЛ (в комплексном лечении в виде ингаляции);</li>
										<li>последствия перенесенных пневмоний (в том числе covid-19) в комплексном лечении в виде ингаляций;</li>
										<li>гастропатии, язвенная болезнь желудка и 12-перстной кишки в комплексном лечении в виде трансгедальной плазмопунктуры;</li>
										<li>хронический гепатит, панкреатит в комплексном лечении в виде трансгедальная плазмопунктуры;</li>
										<li>неспецифический язвенный колит (в виде микроклизм и трансгедальной плазмопунктуры).</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="treatment-item accordion-item">
							<div class="treatment-item__header accordion-header">
								<h3 class="treatment-item__title accordion-title">травматология и спортивная медицина</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="treatment-item__body accordion-body">
								<div class="content">
									<ul>
										<li>поллиноз (в виде порошка, назального спрея или ингаляций);</li>
										<li>вазомоторный ринит (в виде порошка, назального спрея или ингаляций);</li>
										<li>ХОБЛ (в комплексном лечении в виде ингаляции);</li>
										<li>последствия перенесенных пневмоний (в том числе covid-19) в комплексном лечении в виде ингаляций;</li>
										<li>гастропатии, язвенная болезнь желудка и 12-перстной кишки в комплексном лечении в виде трансгедальной плазмопунктуры;</li>
										<li>хронический гепатит, панкреатит в комплексном лечении в виде трансгедальная плазмопунктуры;</li>
										<li>неспецифический язвенный колит (в виде микроклизм и трансгедальной плазмопунктуры).</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="treatment-item accordion-item">
							<div class="treatment-item__header accordion-header">
								<h3 class="treatment-item__title accordion-title">неврология</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="treatment-item__body accordion-body">
								<div class="content">
									<ul>
										<li>поллиноз (в виде порошка, назального спрея или ингаляций);</li>
										<li>вазомоторный ринит (в виде порошка, назального спрея или ингаляций);</li>
										<li>ХОБЛ (в комплексном лечении в виде ингаляции);</li>
										<li>последствия перенесенных пневмоний (в том числе covid-19) в комплексном лечении в виде ингаляций;</li>
										<li>гастропатии, язвенная болезнь желудка и 12-перстной кишки в комплексном лечении в виде трансгедальной плазмопунктуры;</li>
										<li>хронический гепатит, панкреатит в комплексном лечении в виде трансгедальная плазмопунктуры;</li>
										<li>неспецифический язвенный колит (в виде микроклизм и трансгедальной плазмопунктуры).</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="treatment-item accordion-item">
							<div class="treatment-item__header accordion-header">
								<h3 class="treatment-item__title accordion-title">терапия</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="treatment-item__body accordion-body">
								<div class="content">
									<ul>
										<li>поллиноз (в виде порошка, назального спрея или ингаляций);</li>
										<li>вазомоторный ринит (в виде порошка, назального спрея или ингаляций);</li>
										<li>ХОБЛ (в комплексном лечении в виде ингаляции);</li>
										<li>последствия перенесенных пневмоний (в том числе covid-19) в комплексном лечении в виде ингаляций;</li>
										<li>гастропатии, язвенная болезнь желудка и 12-перстной кишки в комплексном лечении в виде трансгедальной плазмопунктуры;</li>
										<li>хронический гепатит, панкреатит в комплексном лечении в виде трансгедальная плазмопунктуры;</li>
										<li>неспецифический язвенный колит (в виде микроклизм и трансгедальной плазмопунктуры).</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- //container -->
			</section>
			<!-- //Section treatment -->

			<!-- Section faq -->
			<section class="sect__faqs gutters" id="faq">
				<h2 class="sect-title container text-center">О процедуре: вопросы-ответы и мифы</h2>

				<div class="container">
					<div class="tab-controls">
						<button class="btn-tab js-tab-btn is-active" type="button">вопрос-ответ</button>
						<button class="btn-tab js-tab-btn " type="button">мифы</button>
					</div>



					<div class="faqs">

						<!-- TAb item -->
						<div class="faqs-item js-tab-content">


							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- //TAb item -->

						<!-- TAb item -->
						<div class="faqs-item js-tab-content">

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Существует множество средств, позволяющих вылечить артроз.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">При возникновении боли можно самостоятельно справиться с ней, прочитав статью или рекламу в интернете или спросив совета в аптеке.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Обращаться к врачу нужно, когда боль в суставе будет сильной и постоянной.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Гормональные препараты быстро и легко «справляются» с артрозом.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Гарантия на эндопротез тазобедренного или коленного суставов ведущих мировых производителей 25 лет.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>

							<div class="faq-item accordion-item">
								<div class="faq-item__header accordion-header">
									<h3 class="faq-item__title accordion-title">Хондропротекторы способны вылечить артроз.</h3>
									<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
								</div>
								<div class="faq-item__body accordion-body">
									<div class="content">
										<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
										<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
										<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- //TAb item -->



					</div>


					
				</div>
				<!-- //container -->
			</section>
			<!-- //Section faq -->

			

			<!-- Section feedbacks -->
			<section class="sect__feedbacks gutters dark-color-bg" id="feedbacks">
				<h2 class="sect-title container text-center basic-white-color">Отзывы пациентов</h2>

				<div class="feedbacks-slider">
					<div class="swiper-container js-feedbacks-slider">
						<div class="swiper-wrapper">
							<!-- Feedback -->
							<div class="swiper-slide">
								<div class="feedback-slide">
									<blockquote class="feedback-slide__text">
										<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром, позволяет восстановить объем движений в суставе, запускает и активизирует процесс регенерации повреждённых тканей, останавливает процесс разрушения сустава.</p>
									</blockquote>
									<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
									<p class="feedback-slide__author-age">54 года</p>
								</div>
							</div>
							<!-- //Feedback -->

							<!-- Feedback -->
							<div class="swiper-slide">
								<div class="feedback-slide">
									<blockquote class="feedback-slide__text">
										<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром.</p>
									</blockquote>
									<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
									<p class="feedback-slide__author-age">54 года</p>
								</div>
							</div>
							<!-- //Feedback -->

							<!-- Feedback -->
							<div class="swiper-slide">
								<div class="feedback-slide">
									<blockquote class="feedback-slide__text">
										<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром, позволяет восстановить объем движений в суставе, запускает и активизирует процесс регенерации повреждённых тканей, останавливает процесс разрушения сустава.</p>
									</blockquote>
									<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
									<p class="feedback-slide__author-age">54 года</p>
								</div>
							</div>
							<!-- //Feedback -->

							<!-- Feedback -->
							<div class="swiper-slide">
								<div class="feedback-slide">
									<blockquote class="feedback-slide__text">
										<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром.</p>
									</blockquote>
									<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
									<p class="feedback-slide__author-age">54 года</p>
								</div>
							</div>
							<!-- //Feedback -->
						</div>
					</div>

					<!-- Navigation -->
					<div class="feedbacks-slider__navigation">
						<button class="btn__arrow btn__arrow--prev js-feedbacks-slider-btn-prev" type="button">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
								<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
								c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
								L143.492,221.863z"/>
							</svg>
						</button>

						<button class="btn__arrow btn__arrow--next js-feedbacks-slider-btn-next" type="button">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 443.52 443.52" style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
								<path d="M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8
								c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712
								L143.492,221.863z"/>
							</svg>
						</button>
					</div>
					<!-- //Navigation -->

					<!-- Pagination -->
					<div class="container">
						<div class="slider__pagination js-feedbacks-slider-pagination"></div>
					</div>
					<!-- //Pagination -->
				</div>
			</section>
			<!-- //Section feedbacks -->

			<!-- Section prices -->
			<section class="sect__prices light-color-bg gutters" id="prices">
				<h2 class="sect-title container text-center">Прайс-лист</h2>

				<div class="container">
					<div class="prices">
						<div class="prices-item accordion-item">
							<div class="prices-item__header accordion-header">
								<h3 class="prices-item__title accordion-title">Ортопедия</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="prices-item__body accordion-body">

								<table class="prices-table">
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация)</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>29 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
								</table>

								<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
							</div>
						</div>

						<div class="prices-item accordion-item">
							<div class="prices-item__header accordion-header">
								<h3 class="prices-item__title accordion-title">Неврология</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="prices-item__body accordion-body">

								<table class="prices-table">
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация)</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>29 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
								</table>

								<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
							</div>
						</div>

						<div class="prices-item accordion-item">
							<div class="prices-item__header accordion-header">
								<h3 class="prices-item__title accordion-title">Терапия</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="prices-item__body accordion-body">

								<table class="prices-table">
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация)</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>29 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
								</table>

								<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
							</div>
						</div>

						<div class="prices-item accordion-item">
							<div class="prices-item__header accordion-header">
								<h3 class="prices-item__title accordion-title">Прочие услуги</h3>
								<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
							</div>
							<div class="prices-item__body accordion-body">

								<table class="prices-table">
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
									<tr>
										<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
										<td>2 000 ₽</td>
									</tr>
								</table>

								<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
							</div>
						</div>

					</div>

					<p class="prices-block-notice">Цены и весь ассортимент услуг уточняйте по телефону у администратора клиники</p>

					
				</div>
				<!-- //container -->
			</section>
			<!-- //Section prices -->

			<section class="sect__docs gutter-top">
				<h2 class="sect-title container text-center">Лицензии и сертификаты</h2>

				<div class="sertificates-slider">
					<div class="swiper-container js-sertificates-slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="sertificate">
									<a href="img/sertificates/1.jpg" class="sertificate-link" data-fancybox>
										<img src="img/sertificates/1.jpg" alt="">
									</a>
								</div>
							</div>

							
							<div class="swiper-slide">
								<div class="sertificate">
									<a href="img/sertificates/3.jpg" class="sertificate-link" data-fancybox>
										<img src="img/sertificates/3.jpg" alt="">
									</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="sertificate">
									<a href="img/sertificates/4.jpg" class="sertificate-link" data-fancybox>
										<img src="img/sertificates/4.jpg" alt="">
									</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="sertificate">
									<a href="img/sertificates/5.jpg" class="sertificate-link" data-fancybox>
										<img src="img/sertificates/5.jpg" alt="">
									</a>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="sertificate">
									<a href="img/sertificates/2.jpg" class="sertificate-link" data-fancybox>
										<img src="img/sertificates/2.jpg" alt="">
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="slider__pagination slider__pagination--dark js-sertificates-slider-pagination"></div>

				<div class="container">
					<div class="form-wrapper basic-white-color text-center">
						<h3 class="sect-title-sm">Не нашли ответ на свой вопрос?</h3>
						<p class="form-wrapper__description">Оставьте заявку на сайте, и наш врач проконсультирует Вас по всем вопросам</p>

						<form class="form">
							<!-- Hidden inputs -->
							<input type="hidden" name="project_name" value="Plasma Priority">
							<input type="hidden" name="admin_email" value="winde100kg@gmail.com">
							<input type="hidden" name="form_subject" value="Консультация">
							<!-- // Hidden inputs -->


							<div class="row inputs__row">
								<div class="input__wrapper col-w-33">
									<input type="text" class="input js-input b-radius-sm" name="Имя" placeholder="Ваше имя *">
								</div>
								<div class="input__wrapper col-w-33">
									<input type="tel" class="input js-input b-radius-sm" name="Телефон" placeholder="Ваш телефон *">
								</div>
								<div class="input__wrapper col-w-33">
									<button class="btn btn-wide" type="submit">получить консультацию</button>
								</div>
							</div>

							<p class="form__notice">* - мы не передаем Ваши персональные данные третьим лицам</p>


						</form>
					</div>
				</div>
			</section>

			

			<!-- Section contacts -->
			<section class="sect__contacts sect-under-form light-color-bg gutter-bottom" id="contacts">
				<h2 class="w3c">Контакты</h2>

				<div class="container">
					<div class="contacts row align-horisontal-between">

						<div class="contacts-block">
							<h3 class="sect-title">Наши контакты</h3>

							<div class="contacts-item">
								<h4 class="contacts-item__title">телефон:</h4>
								<p><a href="tel:+84951281780">8 (495) 128 17 80</a></p>
							</div>
							<div class="contacts-item">
								<h4 class="contacts-item__title">адрес:</h4>
								<div class="address">
									<p class="address-title">ООО “АРНИКА”</p>
									<p class="metro-item">Бульвар Дмитрия Донского</p>
									<p class="metro-item">улица Старокачаловская</p>
									<p>г.Москва, ул. Коктебельская, 4 корпус 1</p>
								</div>
							</div>
							<div class="contacts-item">
								<h4 class="contacts-item__title">время работы:</h4>
								<p>Пн-Пт: 09:00-18:00,<br>Сб-Вс: 10:00-17:00</p>
							</div>
							<div class="contacts-item">
								<h4 class="contacts-item__title">мы в соцсетях:</h4>
								<ul class="socials">
									<li class="socials__item"><a href="#" class="socials__link" target="_blank" rel="nofollow" style="background-image:url('img/icons/svg/fb.svg');"></a></li>
									<li class="socials__item"><a href="#" class="socials__link" target="_blank" rel="nofollow" style="background-image:url('img/icons/svg/inst.svg');"></a></li>
								</ul>
							</div>

						</div>

						<!-- Map -->
						<div class="map__wrapper">
							<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/house/koktebelskaya_ulitsa_4k1/Z04Ycw9mSUAHQFtvfXl3dHtgbA==/?ll=37.586050%2C55.565738&utm_medium=mapframe&utm_source=maps&z=17.15" style="color:#eee;font-size:12px;position:absolute;top:14px;">Коктебельская улица, 4к1 — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUA4AGxpD" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
						</div>
						<!-- //Map -->
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section contacts -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>