{% include '../parts/head.html' %}
<body id="home">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-inner gutter-bottom">

				<div class="page-inner__entering">
					
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>


								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link is-active">
										<span itemprop="name">Отзывы</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="sect-title page-title text-center">Отзывы</h1>

					</div>
					<!-- //container -->

				</div>

				<div class="page-inner__content">
					<div class="container">
						<div class="feedbacks">
							<div class="feedbacks-texts">
								<div>
									<article class="feedback-text">
										<header class="feedback-text__header">
											<div class="row align-horisontal-between">
												<p class="feedback-author__name">Ирина</p>
												<p class="feedback-date">17.04.2021</p>
											</div>
										</header>
										<div class="feedback-text__body">
											<p>Обратилась в клинику по рекомендации доктора ревматолога, у которой лечилась ранее с диагнозом артрит коленных суставов. Доктор Карев Дмитрий Борисович назначил мне лечение собственной плазмой курсом в четыре процедуры, а так же лечебную физкультуру. Все рекомендации доктора я соблюдаю. И с начиная со второй процедуры я заметила значительное улучшение. И самое главное, что с первого посещения доктор внушил мне огромное доверие и убедил меня, что лечение будет эффективным. Я очень рада, что обратилась именно в эту клинику и могу ее рекомендовать другим! Даже если у меня не будет проблем с коленями, я бы очень хотела вновь увидеть коллектив клиники где всегда услышишь добрые слова и улыбки на лицах персонала!</p>
										</div>
									</article>

									<article class="feedback-text">
										<header class="feedback-text__header">
											<div class="row align-horisontal-between">
												<p class="feedback-author__name">Ирина</p>
												<p class="feedback-date">17.04.2021</p>
											</div>
										</header>
										<div class="feedback-text__body">
											<p>Обратилась в клинику по рекомендации доктора ревматолога, у которой лечилась ранее с диагнозом артрит коленных суставов. Доктор Карев Дмитрий Борисович назначил мне лечение собственной плазмой курсом в четыре процедуры, а так же лечебную физкультуру. Все рекомендации доктора я соблюдаю. И с начиная со второй процедуры я заметила значительное улучшение. И самое главное</p>
										</div>
									</article>

									<article class="feedback-text">
										<header class="feedback-text__header">
											<div class="row align-horisontal-between">
												<p class="feedback-author__name">Ирина</p>
												<p class="feedback-date">17.04.2021</p>
											</div>
										</header>
										<div class="feedback-text__body">
											<p>Обратилась в клинику по рекомендации доктора ревматолога, у которой лечилась ранее с диагнозом артрит коленных суставов. Доктор Карев Дмитрий Борисович назначил мне лечение собственной плазмой курсом в четыре процедуры, а так же лечебную физкультуру. Все рекомендации доктора я соблюдаю. И с начиная со второй процедуры я заметила значительное улучшение. И самое главное, что с первого посещения доктор внушил мне огромное доверие и убедил меня, что лечение будет эффективным. Я очень рада, что обратилась именно в эту клинику и могу ее рекомендовать другим! Даже если у меня не будет проблем с коленями, я бы очень хотела вновь увидеть коллектив клиники где всегда услышишь добрые слова и улыбки на лицах персонала!</p>
										</div>
									</article>
								</div>

								<button class="btn btn-transparent btn-transparent-accent btn-wide" type="button">показать больше отзывов</button>
							</div>
							<!-- //texts -->


							<div class="feedbacks-videos gutter-top">

								<div class="row align-horisontal-start feedbacks-videos__row row-gutters">
									<div class="col-w-33 col-gutters feedback-video__wrapper">
										<div class="feedback-video thumbnail">
											<iframe src="https://www.youtube.com/embed/YR5ApYxkU-U" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>

									<div class="col-w-33 col-gutters feedback-video__wrapper">
										<div class="feedback-video thumbnail">
											<iframe src="https://www.youtube.com/embed/YR5ApYxkU-U" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>

									<div class="col-w-33 col-gutters feedback-video__wrapper">
										<div class="feedback-video thumbnail">
											<iframe src="https://www.youtube.com/embed/YR5ApYxkU-U" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>

									<div class="col-w-33 col-gutters feedback-video__wrapper">
										<div class="feedback-video thumbnail">
											<iframe src="https://www.youtube.com/embed/YR5ApYxkU-U" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>
								</div>


								<button class="btn btn-transparent btn-transparent-accent btn-wide" type="button">показать больше отзывов</button>
							</div>
							<!-- //videos -->
						</div>
					</div>
					<!-- //container -->
				</div>
			</section>

			{% include '../parts/sections/sect-seo.html' %}
			{% include '../parts/sections/sect-contacts.html' %}
			

			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>