{% include '../parts/head.html' %}
<body id="home">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-inner gutter-bottom">

				<div class="page-inner__entering">
					
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>


								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link is-active">
										<span itemprop="name">Прайс-лист</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="sect-title page-title text-center">Прайс-лист</h1>

					</div>
					<!-- //container -->

				</div>

				<div class="page-inner__content">
					<div class="container">
						<div class="page-pricelist">
							<div class="prices">
								<div class="prices-item accordion-item">
									<div class="prices-item__header accordion-header">
										<h3 class="prices-item__title accordion-title">Ортопедия</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="prices-item__body accordion-body">

										<table class="prices-table">
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация)</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>29 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
										</table>

										<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
									</div>
								</div>

								<div class="prices-item accordion-item">
									<div class="prices-item__header accordion-header">
										<h3 class="prices-item__title accordion-title">Неврология</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="prices-item__body accordion-body">

										<table class="prices-table">
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация)</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>29 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
										</table>

										<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
									</div>
								</div>

								<div class="prices-item accordion-item">
									<div class="prices-item__header accordion-header">
										<h3 class="prices-item__title accordion-title">Терапия</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="prices-item__body accordion-body">

										<table class="prices-table">
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация)</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>29 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
										</table>

										<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
									</div>
								</div>

								<div class="prices-item accordion-item">
									<div class="prices-item__header accordion-header">
										<h3 class="prices-item__title accordion-title">Прочие услуги</h3>
										<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
									</div>
									<div class="prices-item__body accordion-body">

										<table class="prices-table">
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
											<tr>
												<td>Прием (осмотр, консультация) врача-травматолога-ортопеда  к.м.н., доцента</td>
												<td>2 000 ₽</td>
											</tr>
										</table>

										<p class="prices-notice">* в стоимость процедуры входит: консультация специалиста первичная; забор крови, центрифугирование; выполнение инъекционных процедур специалистом; консультация специалиста повторная (при следующих посещениях); разработка и контроль индивидуального курса  ЛФК (перечень действителен только при курсовом введении ТАП)</p>
									</div>
								</div>

							</div>

							<p class="prices-block-notice">Цены и весь ассортимент услуг уточняйте по телефону у администратора клиники</p>
						</div>
						

					</div>
					<!-- //container -->
				</div>
			</section>

			{% include '../parts/sections/sect-seo.html' %}
			{% include '../parts/sections/sect-contacts.html' %}
			

			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>