{% include '../parts/head.html' %}
<body id="home">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-inner gutter-bottom">

				<div class="page-inner__entering">
					
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>

								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="page-services.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Что лечим</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>


								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link is-active">
										<span itemprop="name">PRP терапия плечевого сустава</span>
										<meta itemprop="position" content="3">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="page-title sect-title">PRP терапия плечевого сустава</h1>

						

					</div>
					<!-- //container -->

				</div>

				<div class="page-inner__content">
					<div class="container">

						
						<div class="row page-article__row align-vertical-start row-nowrap">
							<div class="page-service">

								<div class="tab-controls">
									<a href="#description" class="btn tab-controls__btn js-anchor-link">О процедуре</a>
									<a href="#steps" class="btn tab-controls__btn js-anchor-link">Этапы проведения</a>
								</div>

								<article class="service-content">
									<div class="service-content__block" id="description">
										<h2 class="sect-title sect-title-sm t-t-normal">О процедуре</h2>
										<div class="article">

											<div class="content">
												<p>Артроз плечевого сустава, как правило, сопровождается  сильными  болями. Резко ограничивается возможность  каждодневных, бытовых манипуляций: трудно расчесать волосы, почистить зубы, застегнуть бюстгальтер.  Эти сложности  могут привести к депрессии, тревоге, ограничению трудоспособности. </p>
												<p>Только при проведении курсового лечения  собственной тромбоцитарной  плазмой (PRP-терапии) достигается эффект, при котором  <b>останавливается процесс разрушения сустава</b>. С помощью этой технологии мы возвращаем жидкую среду сустава, проводим своего рода <b>«биологическое протезирование»</b>. Сустав получает питание, «смазку», обеспечивается длительный лечебный эффект без побочных явлений,  отрицательного влияния на ЖКТ.</p>
												<p>Сама по себе плазма это мощный биококтейль, содержащий сбалансированное количество белков, аминокислот, микро и макроэлементов, гормонов, которые всегда качественные. Вводя  ее  в окружающие сустав  опорно- двигательные структуры, которые очень важны в функции сустава, мы достигаем хорошего  восстановительного эффекта. </p>

												<img src="img/prp/3.jpg" alt="">

												

												<iframe  src="https://www.youtube.com/embed/p0ybPm_gpuA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


												
											</div>
										</div>

										<div class="service-information">
											<div class="row align-horisontal-start service-information__row row-gutters">
												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/1.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Стоимость:</p>
															<p class="service-information__item--text_val">7 500 руб.</p>
														</div>
													</div>
												</div>
												<!-- //item -->

												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/2.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Кол-во процедур:</p>
															<p class="service-information__item--text_val">4-5</p>
														</div>
													</div>
												</div>
												<!-- //item -->

												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/3.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Специалист:</p>
															<p class="service-information__item--text_val">врач-ортопед</p>
														</div>
													</div>
												</div>
												<!-- //item -->

												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/4.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Кол-во  получаемой плазмы:</p>
															<p class="service-information__item--text_val">5-6 мл</p>
														</div>
													</div>
												</div>
												<!-- //item -->

												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/5.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Концентрация тромбоцитов:</p>
															<p class="service-information__item--text_val">1,2 млн.  в микролитре</p>
														</div>
													</div>
												</div>
												<!-- //item -->

												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/6.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Длительность процедуры:</p>
															<p class="service-information__item--text_val">25-40 мин</p>
														</div>
													</div>
												</div>
												<!-- //item -->


											</div>
										</div>

										<div class="content">
											<p>После базового курса, рекомендованы однократные процедуры с интервалом в 1-2 месяца в течение первого года.</p>
										</div>
									</div>
									<!-- //description -->

									<div class="service-content__block" id="steps">
										<h2 class="sect-title sect-title-sm t-t-normal">Как проходит процедура</h2>

										<ul class="service-content__steps">
											<li>
												<span>Прием начинается с консультации врача-ортопеда. После сбора анамнеза, осмотра, врач и пациент согласовывают план лечения</span>
											</li>
											<li>
												<span>Пациент проходит в процедурный кабинет, где у него забирают необходимое количество крови из локтевой вены</span>
												<a href="img/prp/2.jpg" class="thumbnail fancy-link" data-fancybox="service-steps" data-caption="Пациент проходит в процедурный кабинет, где у него забирают необходимое количество крови из локтевой вены">
													<img src="img/prp/2.jpg" alt="">
												</a>
											</li>
											<li>
												<span>Полученный материал центрифугируется</span>
												<a href="img/prp/3.jpg" class="thumbnail fancy-link" data-fancybox="service-steps" data-caption="Полученный материал центрифугируется">
													<img src="img/prp/3.jpg" alt="">
												</a>
											</li>
											<li>
												<span>Врач проводит отбор PRP  и плазмы</span>
												<a href="img/prp/7.jpg" class="thumbnail fancy-link" data-fancybox="service-steps" data-caption="Врач проводит отбор PRP  и плазмы">
													<img src="img/prp/7.jpg" alt="">
												</a>
											</li>
											<li>
												<span>Врач-ортопед проводит процедуру введения PRP  и плазмы в зоны, требующие лечения</span>
												<a href="img/prp/3.jpg" class="thumbnail fancy-link" data-fancybox="service-steps" data-caption="Врач проводит отбор PRP  и плазмы">
													<img src="img/prp/3.jpg" alt="">
												</a>
											</li>
											<li>
												<span>Процедура проводится без анестезии. Ощущения при проведении манипуляции  сравнимы с обычной инъекцией. Некоторые пациенты чувствуют распирание в месте укола.</span>

											</li>
											
											<li>
												<span>После проведения процедуры пациент через  10-20 минут может покинуть  клинику.</span>
											</li>
										</ul>


										<div class="service-table">
											<table>
												<tr>
													<td>Симптомы</td>
													<td>Заболевания</td>
												</tr>
												<tr>
													<td>Боль</td>
													<td>Артроз, артрит</td>
												</tr>
												<tr>
													<td>Невозможно поднять руку</td>
													<td>Бурсит</td>
												</tr>
												<tr>
													<td>Невозможно расчесать волосы</td>
													<td>Тендинит, тендиноз вращательной манжеты плеча</td>
												</tr>
												<tr>
													<td>Невозможно застегнуть бюстгальтер</td>
													<td>Импиджмент синдром</td>
												</tr>
												<tr>
													<td>Ночные боли</td>
													<td>Последствия травм: переломов, вывихов, овреждений мышц, сухожилий, связок</td>
												</tr>
												<tr>
													<td>Хруст, жжение</td>
													<td></td>
												</tr>
												<tr>
													<td>Прострелы, онемение пальцев рук</td>
													<td></td>
												</tr>
											</table>
										</div>


										<div class="content">
											<p>На лечение суставов тромбоцитарной аутологичной плазмой ваш организм даст биоответ в виде запуска абсолютно безопасных и максимально эффективных восстановительных процессов <b>БЕЗ ТАБЛЕТОК</b> и вредных воздействий. Ни один самый дорогой препарат не может заменить собственные функции восстановления организма и не может быть так индивидуально подобран и воспринят человеческим организмом.</p>

											<h3 style="color:#6686b3">Лечебный эффект PRP-терапии</h3>
											<ul>
												<li>введение плазмы в мышцы способствует улучшению кровообращения, в области сустава образуются новые мелкие артерии;</li>
												<li>улучшается питание тканей, в том числе, синовиальной оболочки;</li>
												<li>синовиальная оболочка восстанавливается и продуцирует дополнительный объем синовиальной жидкости;</li>
												<li>уменьшается воспалительный процесс, стимулируется синтез коллагена, подавляется апоптоз (естественная гибель клеток);</li>
												<li>питательные вещества из синовиальной жидкости поступают в клетки хряща, происходит его восстановление;</li>
												<li>регенерация синовиальной оболочки и хрящевой поверхности способствует уменьшению болевых ощущений;</li>
												<li>мышечная ткань восстанавливает свою структуру и функцию и обеспечивает движение в суставе и его стабильность.</li>
											</ul>

											<h3 style="color:#d95900">Противопоказания к проведению PRP-терапии:</h3>
											<ul>
												<li>любая острая инфекция — вирусная или бактериальная;</li>
												<li>высокая температура (выше 38°C);</li>
												<li>гнойничковые поражения кожи или гнойные раны в предполагаемом месте инъекции;</li>
												<li>использование лекарств, влияющих на свертываемость крови (ацетилсалициловая кислота, варфарин и другие) при изменениях лабораторных показателей;</li>
												<li>онкология без радикального лечения (в том числе злокачественные заболевания крови).</li>
											</ul>
										</div>

										<blockquote class="doctor-blockquote">
											<div class="doctor-blockquote__information">
												<div class="doctor-blockquote__information--photo thumbnail">
													<img src="img/team/1.png" alt="">
												</div>
												<p class="doctor-blockquote__information--name">Карев Дмитрий Борисович</p>
												<p class="doctor-blockquote__information--position">Врач травматолог-ортопед</p>
											</div>
											<div class="doctor-blockquote__text">
												<p>В лечении плечевого сустава, с моей точки зрения,  оправдано использование PRP терапии, если боль обусловлена проблемами исключительно плечевого сустава. Очень хороший эффект, после проведения процедуры, у молодых пациентов после травмы. Если имеются проблемы в плечевом суставе и шейном отделе позвоночника (остеохондроз), мы сочетаем PRP с плазмотерапией.</p>
											</div>
										</blockquote>



									</div>
									<!-- //step -->

									<div class="service-content__block">
										<div class="subservices">
											<div class="subservice">
												<h2 class="sect-title sect-title-sm t-t-normal">Плазмолифтинг (плазмотерапия)</h2>
												<img src="img/prp/3.jpg" alt="">
												<div class="service-information">
													<div class="row align-horisontal-start service-information__row row-gutters">
														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/1.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Стоимость:</p>
																	<p class="service-information__item--text_val">7 500 руб.</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/2.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Кол-во процедур:</p>
																	<p class="service-information__item--text_val">4-5</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/3.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Специалист:</p>
																	<p class="service-information__item--text_val">врач-ортопед</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/4.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Кол-во  получаемой плазмы:</p>
																	<p class="service-information__item--text_val">5-6 мл</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/5.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Концентрация тромбоцитов:</p>
																	<p class="service-information__item--text_val">1,2 млн.  в микролитре</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/6.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Длительность процедуры:</p>
																	<p class="service-information__item--text_val">25-40 мин</p>
																</div>
															</div>
														</div>
														<!-- //item -->


													</div>
												</div>

												<div class="content">
													<p>После базового курса, рекомендованы однократные процедуры с интервалом в 1-2 месяца в течение первого года.</p>
												</div>
											</div>

											<div class="subservice">
												<h2 class="sect-title sect-title-sm t-t-normal">Плазмолифтинг (плазмотерапия)</h2>
												<img src="img/prp/3.jpg" alt="">
												<div class="service-information">
													<div class="row align-horisontal-start service-information__row row-gutters">
														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/1.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Стоимость:</p>
																	<p class="service-information__item--text_val">7 500 руб.</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/2.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Кол-во процедур:</p>
																	<p class="service-information__item--text_val">4-5</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/3.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Специалист:</p>
																	<p class="service-information__item--text_val">врач-ортопед</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/4.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Кол-во  получаемой плазмы:</p>
																	<p class="service-information__item--text_val">5-6 мл</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/5.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Концентрация тромбоцитов:</p>
																	<p class="service-information__item--text_val">1,2 млн.  в микролитре</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/6.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Длительность процедуры:</p>
																	<p class="service-information__item--text_val">25-40 мин</p>
																</div>
															</div>
														</div>
														<!-- //item -->


													</div>
												</div>

												<div class="content">
													<p>После базового курса, рекомендованы однократные процедуры с интервалом в 1-2 месяца в течение первого года.</p>
												</div>
											</div>

											<div class="subservice">
												<h2 class="sect-title sect-title-sm t-t-normal">Плазмолифтинг (плазмотерапия)</h2>
												<img src="img/prp/3.jpg" alt="">
												<div class="service-information">
													<div class="row align-horisontal-start service-information__row row-gutters">
														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/1.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Стоимость:</p>
																	<p class="service-information__item--text_val">7 500 руб.</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/2.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Кол-во процедур:</p>
																	<p class="service-information__item--text_val">4-5</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/3.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Специалист:</p>
																	<p class="service-information__item--text_val">врач-ортопед</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/4.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Кол-во  получаемой плазмы:</p>
																	<p class="service-information__item--text_val">5-6 мл</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/5.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Концентрация тромбоцитов:</p>
																	<p class="service-information__item--text_val">1,2 млн.  в микролитре</p>
																</div>
															</div>
														</div>
														<!-- //item -->

														<div class="service-information__item--wrapper col-w-33 col-gutters">
															<div class="service-information__item">
																<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/6.svg');"></span>
																<div class="service-information__item--text">
																	<p class="service-information__item--text_title">Длительность процедуры:</p>
																	<p class="service-information__item--text_val">25-40 мин</p>
																</div>
															</div>
														</div>
														<!-- //item -->


													</div>
												</div>

												<div class="content">
													<p>После базового курса, рекомендованы однократные процедуры с интервалом в 1-2 месяца в течение первого года.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="service-content__block">
										<h2 class="sect-title sect-title-sm t-t-normal">Почему мы?</h2>

										<ul class="service-advantages">
											<li>В нашей клинике <b>самая выгодная цена</b> в Москве</li>
											<li>Наш ведущий специалист <b>является разработчиком</b> направления применения аутологичной тромбоцитарной плазмы в травматологии и ортопедии</li>
											<li><b>Эффективное и безопасное</b> лечение</li>
											<li><b>Без</b> очередей</li>
											<li><b>Быстрое</b> снятие боли</li>
											<li>Прием врача <b>0 рублей</b></li>
											<li>При лечении курсом, все приемы в период прохождения курса <b>бесплатные</b></li>
											<li>Проведение процедур <b>в день приема</b></li>
											<li><b>Можно совмещать</b> с другими способами лечения</li>
										</ul>
									</div>

								</article>


							</div>
							<!-- //service content -->

							<aside class="aside aside-page">
								<div class="aside-content">
									<h2 class="aside-title">Другие услуги</h2>

									<ul class="aside-page-links">
										<li>
											<h3><a href="page-service.html">Коленный сустав</a></h3>
										</li>
										<li>
											<h3><a href="page-service.html">Тазобедренный сустав</a></h3>
										</li>
										<li>
											<h3><a href="page-service.html">Локтевой сустав</a></h3>
										</li>
										<li>
											<h3><a href="page-service.html">Голеностопный сустав</a></h3>
										</li>
										<li>
											<h3><a href="page-service.html">Кисть</a></h3>
										</li>
										<li>
											<h3><a href="page-service.html">Шейный отдел позвоночника</a></h3>
										</li>
										<li>
											<h3><a href="page-service.html">Грудной отдел позвоночника</a></h3>
										</li>
										<li>
											<h3><a href="page-service.html">Поясничный отдел позвоночника</a></h3>
										</li>
									</ul>
								</div>
							</aside>
						</div>
						<!-- //row -->


					</div>
					<!-- //container -->
				</div>
			</section>


			<section class="sect__form gutter-bottom">
				<div class="container">
					{% include '../parts/components/page-form.html' %}
				</div>
				<!-- //container -->
			</section>


			{% include '../parts/sections/sect-contacts.html' %}



		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>