{% include '../parts/head.html' %}
<body id="home">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-inner gutter-bottom">

				<div class="page-inner__entering">
					
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>


								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="page-team.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Наши специалисты</span>
										</a>
										<meta itemprop="position" content="2">
									</span>
								</li>


								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link is-active">
										<span itemprop="name">Карев Дмитрий Борисович</span>
										<meta itemprop="position" content="3">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->


					</div>
					<!-- //container -->

				</div>

				<div class="page-inner__content">
					<div class="container">
						<div class="team-member">
							<div class="row team-member__row align-vertical-start row-nowrap">
								<div class="team-member__photo">
									<img src="img/team/1.png" alt="">
									{% include '../parts/components/btn-order-accent.html' %}
								</div>

								<div class="team-member__content">
									<h1 class="team-member__name sect-title-sm">Карев Дмитрий Борисович</h1>
									<p class="team-member__position">Врач травматолог-ортопед</p>

									<div class="content">
										<p>Кандидат медицинских наук, доцент, врач травматолог-ортопед высшей квалификационной категории, 30 летний стаж работы в ортопедии. Владеет техникой первичного и ревизионного эндопротезирования тазобедренного и коленного сустава, рядом реконструктивных операций на тазобедренном суставе. Автор 84 научных публикаций (в том числе в Европейских научных журналах), монографии, 14 патентов.</p>
										<p>Разработчик направления применения аутологичной тромбоцитарной плазмы в травматологии и ортопедии. Организатор первого в мире специализированного центра на территории РБ, использующего плазму в лечении суставных заболеваний. Личный опыт применения плазмы (самый большой в мире) — более 16 000 пациентов.</p>

										<h3 style="color: #6686b3">Услуги специалиста</h3>
										<ul>
											<li>PRP-терапия и плазмотерапия</li>
											<li>Внутрисуставные инъекции и блокады лекарственными препаратами</li>
											<li>Лечение остеохондроза</li>
											<li>Терапия</li>
										</ul>
									</div>

									<div class="team-member__sertificates">
										<h3 class="t-t-uppercase sect-title-sm">сертификаты и Лицензии</h3>

										<div class="row align-horisontal-start align-vertical-center">
											<div class="col-w-25 team-member__sertificate--wrapper">
												<a href="img/sertificates/1.jpg" class="team-member__sertificate fancy-link" data-fancybox="doc-sertificates">
													<img src="img/sertificates/1.jpg" alt="">
												</a>
											</div>

											<div class="col-w-25 team-member__sertificate--wrapper">
												<a href="img/sertificates/3.jpg" class="team-member__sertificate fancy-link" data-fancybox="doc-sertificates">
													<img src="img/sertificates/3.jpg" alt="">
												</a>
											</div>

											<div class="col-w-25 team-member__sertificate--wrapper">
												<a href="img/sertificates/2.jpg" class="team-member__sertificate fancy-link" data-fancybox="doc-sertificates">
													<img src="img/sertificates/2.jpg" alt="">
												</a>
											</div>

											<div class="col-w-25 team-member__sertificate--wrapper">
												<a href="img/sertificates/1.jpg" class="team-member__sertificate fancy-link" data-fancybox="doc-sertificates">
													<img src="img/sertificates/1.jpg" alt="">
												</a>
											</div>

											<div class="col-w-25 team-member__sertificate--wrapper">
												<a href="img/sertificates/2.jpg" class="team-member__sertificate fancy-link" data-fancybox="doc-sertificates">
													<img src="img/sertificates/2.jpg" alt="">
												</a>
											</div>

											<div class="col-w-25 team-member__sertificate--wrapper">
												<a href="img/sertificates/1.jpg" class="team-member__sertificate fancy-link" data-fancybox="doc-sertificates">
													<img src="img/sertificates/1.jpg" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //container -->

				</div>
			</section>

			{% include '../parts/sections/sect-seo.html' %}
			{% include '../parts/sections/sect-contacts.html' %}
			

			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>