{% include '../parts/head.html' %}
<body id="home">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-inner gutter-bottom">

				<div class="page-inner__entering">
					
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>


								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link is-active">
										<span itemprop="name">Вопрос-ответ</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="sect-title page-title text-center">Часто задаваемые вопросы и мифы</h1>
						<p class="sect-description text-center">Об использовании тромбоцитарной аутологичной плазмы в лечении суставных заболеваний и заболеваний позвоночника</p>
					</div>
					<!-- //container -->

				</div>

				<div class="page-inner__content">
					<div class="container">

						<div class="page-faq">

							<div class="faq-content">
								<div class="thumbnail">
									<img src="img/faq.jpg" alt="">
								</div>
								<h2 class="sect-title-sm text-center">вопрос-ответ</h2>

								<div class="page-faq-items">
									<div class="faq-item accordion-item">
										<div class="faq-item__header accordion-header">
											<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
											<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
										</div>
										<div class="faq-item__body accordion-body">
											<div class="content">
												<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
												<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
												<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
											</div>
										</div>
									</div>

									<div class="faq-item accordion-item">
										<div class="faq-item__header accordion-header">
											<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
											<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
										</div>
										<div class="faq-item__body accordion-body">
											<div class="content">
												<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
												<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
												<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
											</div>
										</div>
									</div>

									<div class="faq-item accordion-item">
										<div class="faq-item__header accordion-header">
											<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
											<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
										</div>
										<div class="faq-item__body accordion-body">
											<div class="content">
												<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
												<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
												<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
											</div>
										</div>
									</div>

									<div class="faq-item accordion-item">
										<div class="faq-item__header accordion-header">
											<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
											<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
										</div>
										<div class="faq-item__body accordion-body">
											<div class="content">
												<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
												<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
												<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="faq-content">
								<div class="thumbnail">
									<img src="img/myths.jpg" alt="">
								</div>
								<h2 class="sect-title-sm text-center">Мифы</h2>

								<div class="page-faq-items">
									<div class="faq-item accordion-item">
										<div class="faq-item__header accordion-header">
											<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
											<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
										</div>
										<div class="faq-item__body accordion-body">
											<div class="content">
												<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
												<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
												<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
											</div>
										</div>
									</div>

									<div class="faq-item accordion-item">
										<div class="faq-item__header accordion-header">
											<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
											<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
										</div>
										<div class="faq-item__body accordion-body">
											<div class="content">
												<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
												<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
												<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
											</div>
										</div>
									</div>

									<div class="faq-item accordion-item">
										<div class="faq-item__header accordion-header">
											<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
											<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
										</div>
										<div class="faq-item__body accordion-body">
											<div class="content">
												<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
												<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
												<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
											</div>
										</div>
									</div>

									<div class="faq-item accordion-item">
										<div class="faq-item__header accordion-header">
											<h3 class="faq-item__title accordion-title">Далеко-далеко, за словесными горами в стране.?</h3>
											<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
										</div>
										<div class="faq-item__body accordion-body">
											<div class="content">
												<p>Далеко-далеко за словесными горами в стране, гласных, и согласных живут рыбные тексты. Там, переулка заглавных буквенных журчит инициал страна даль ручеек языком.</p>
												<p>Все, жизни, текст до своих проектах власти языкового безорфографичный снова, семантика свой, строчка. Рыбного, запятой продолжил дорогу что, моей языкового.</p>
												<p>Ручеек своих страну, родного рукопись курсивных имени, все, то безопасную, приставка маленький не. Океана, семантика. О великий, вскоре вершину! Она.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- //container -->
				</div>
			</section>

			{% include '../parts/sections/sect-seo.html' %}
			{% include '../parts/sections/sect-contacts.html' %}
			

			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>