{% include '../parts/head.html' %}
<body id="home">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-inner gutter-bottom">

				<div class="page-inner__entering">
					
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>


								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link is-active">
										<span itemprop="name">Что мы лечим</span>
										<meta itemprop="position" content="2">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="sect-title page-title text-center">Что мы лечим</h1>
						<p class="container text-center sect-description">Симптомы и заболевания</p>

					</div>
					<!-- //container -->

				</div>

				<div class="page-inner__content">
					<div class="container">
						{% include '../parts/components/services-cards.html' %}

					</div>
					<!-- //container -->
				</div>
			</section>

			{% include '../parts/sections/sect-seo.html' %}
			{% include '../parts/sections/sect-contacts.html' %}
			

			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>