{% include '../parts/head.html' %}
<body id="home">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-inner gutter-bottom">

				<div class="page-inner__entering">
					
					<div class="container">
						<!-- Breadcrumbs -->
						<nav class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
							<ul class="breadcrumbs__list">
								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="index.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Главная</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>

								<li class="breadcrumbs__item">
									<span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
										<a href="page-services.html" class="breadcrumbs__link" title="Главная">
											<span itemprop="name">Что лечим</span>
										</a>
										<meta itemprop="position" content="1">
									</span>
								</li>


								<li class="breadcrumbs__item">
									<span class="breadcrumbs__link is-active">
										<span itemprop="name">PRP терапия плечевого сустава</span>
										<meta itemprop="position" content="3">
									</span>
								</li>
							</ul>
						</nav>
						<!-- //Breadcrumbs -->

						<h1 class="page-title sect-title">PRP терапия плечевого сустава</h1>

						

					</div>
					<!-- //container -->

				</div>

				<div class="page-inner__content">
					<div class="container">

						
						<div class="row page-article__row align-vertical-start row-nowrap">
							<div class="page-service">
								<div class="tab-controls">
									<button class="btn tab-controls__btn js-tab-btn is-active" type="button">О процедуре</button>
									<button class="btn tab-controls__btn js-tab-btn" type="button">Этапы проведения</button>
									<button class="btn tab-controls__btn js-tab-btn" type="button">Кто проводит</button>
									<button class="btn tab-controls__btn js-tab-btn" type="button">Видео-отзывы</button>
								</div>


								<div class="tab-contents">
									<!-- Description -->
									<div class="tab-content js-tab-content">

										<div class="service-information">
											<div class="row align-horisontal-start service-information__row row-gutters">
												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/1.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Стоимость:</p>
															<p class="service-information__item--text_val">7 500 руб.</p>
														</div>
													</div>
												</div>
												<!-- //item -->

												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/2.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Кол-во процедур:</p>
															<p class="service-information__item--text_val">4-5</p>
														</div>
													</div>
												</div>
												<!-- //item -->

												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/3.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Специалист:</p>
															<p class="service-information__item--text_val">врач-ортопед</p>
														</div>
													</div>
												</div>
												<!-- //item -->

												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/4.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Кол-во  получаемой плазмы:</p>
															<p class="service-information__item--text_val">5-6 мл</p>
														</div>
													</div>
												</div>
												<!-- //item -->

												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/5.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Концентрация тромбоцитов:</p>
															<p class="service-information__item--text_val">1,2 млн.  в микролитре</p>
														</div>
													</div>
												</div>
												<!-- //item -->

												<div class="service-information__item--wrapper col-w-33 col-gutters">
													<div class="service-information__item">
														<span class="service-information__item--ic" style="background-image: url('img/icons/svg/service/6.svg');"></span>
														<div class="service-information__item--text">
															<p class="service-information__item--text_title">Длительность процедуры:</p>
															<p class="service-information__item--text_val">25-40 мин</p>
														</div>
													</div>
												</div>
												<!-- //item -->


											</div>
										</div>

										<article class="article">

											<div class="content">
												<p>Артроз плечевого сустава, как правило, сопровождается  сильными  болями. Резко ограничивается возможность  каждодневных, бытовых манипуляций: трудно расчесать волосы, почистить зубы, застегнуть бюстгальтер.  Эти сложности  могут привести к депрессии, тревоге, ограничению трудоспособности. </p>
												<img src="img/prp/3.jpg" alt="">

												<p>После базового курса, рекомендованы однократные процедуры с интервалом в 1-2 месяца в течение первого года.</p>

												<iframe  src="https://www.youtube.com/embed/p0ybPm_gpuA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


												<h2 style="color: #6686b3">СИМПТОМЫ</h2>
												<ul>
													<li>Боль</li>
													<li>Невозможно поднять руку</li>
													<li>Невозможно расчесать волосы</li>
													<li>Невозможно застегнуть бюстгальтер</li>
													<li>Ночные боли</li>
													<li>Хруст, жжение</li>
													<li>Прострелы, онемение пальцев рук</li>
												</ul>

												<h2 style="color: #6686b3">ЗАБОЛЕВАНИЯ</h2>
												<ul>
													<li>Артроз, артрит</li>
													<li>Бурсит</li>
													<li>Тендинит, тендиноз вращательной манжеты плеча</li>
													<li>Импиджмент синдром</li>
													<li>Последствия травм: переломов, вывихов, повреждений мышц, сухожилий, связок</li>
												</ul>
											</div>
										</article>
									</div>
									<!-- //Description -->

									<!-- Steps -->
									<div class="tab-content js-tab-content">
										<h2 class="sect-title sect-title-sm t-t-normal">Как проходит процедура</h2>


										<div class="service-steps row row-gutters row-gutters">
											<div class="service-step__wrapper col-w-50 col-gutters">
												<div class="service-step">
													<span class="service-step__count">01</span>
													<a href="img/prp/1.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Прием начинается с консультации врача-ортопеда. После сбора анамнеза, осмотра, врач и пациент согласовывают план лечения">
														<img src="img/prp/1.jpg" alt="">
													</a>
													<p>Прием начинается с консультации врача-ортопеда. После сбора анамнеза, осмотра, врач и пациент согласовывают план лечения</p>
												</div>
											</div>
											<!-- //step -->

											<div class="service-step__wrapper col-w-50 col-gutters">
												<div class="service-step">
													<span class="service-step__count">02</span>
													<a href="img/prp/2.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Пациент проходит в процедурный кабинет, где у него забирают необходимое количество крови из локтевой вены">
														<img src="img/prp/2.jpg" alt="">
													</a>
													<p>Пациент проходит в процедурный кабинет, где у него забирают необходимое количество крови из локтевой вены</p>
												</div>
											</div>
											<!-- //step -->

											<div class="service-step__wrapper col-w-50 col-gutters">
												<div class="service-step">
													<span class="service-step__count">03</span>
													<a href="img/prp/3.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Полученный материал центрифугируется">
														<img src="img/prp/3.jpg" alt="">
													</a>
													<p>Полученный материал центрифугируется</p>
												</div>
											</div>
											<!-- //step -->

											<div class="service-step__wrapper col-w-50 col-gutters">
												<div class="service-step">
													<span class="service-step__count">04</span>
													<a href="img/prp/7.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Врач проводит отбор PRP  и плазмы">
														<img src="img/prp/7.jpg" alt="">
													</a>
													<p>Врач проводит отбор PRP  и плазмы</p>
												</div>
											</div>
											<!-- //step -->

											<div class="service-step__wrapper col-w-50 col-gutters">
												<div class="service-step">
													<span class="service-step__count">05</span>
													<a href="img/prp/3.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Врач-ортопед проводит процедуру введения PRP  и плазмы в зоны, требующие лечения">
														<img src="img/prp/3.jpg" alt="">
													</a>
													<p>Врач-ортопед проводит процедуру введения PRP  и плазмы в зоны, требующие лечения</p>
												</div>
											</div>
											<!-- //step -->

											<div class="service-step__wrapper col-w-50 col-gutters">
												<div class="service-step">
													<span class="service-step__count">06</span>
													<a href="img/prp/5.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Врач-ортопед проводит процедуру введения PRP  и плазмы в зоны, требующие лечения">
														<img src="img/prp/5.jpg" alt="">
													</a>
													<p>Врач-ортопед проводит процедуру введения PRP  и плазмы в зоны, требующие лечения</p>
												</div>
											</div>
											<!-- //step -->
										</div>

										<div class="content">
											<p>Процедура проводится без анестезии. Ощущения при проведении манипуляции  сравнимы с обычной инъекцией. Некоторые пациенты чувствуют распирание в месте укола.</p>
											<p>После проведения процедуры пациент через  10-20 минут может покинуть  клинику.</p>

											<h3 style="color: #6686b3">Противопоказания к проведению PRP-терапии:</h3>
											<ul>
												<li>любая острая инфекция — вирусная или бактериальная;</li>
												<li>высокая температура (выше 38°C);</li>
												<li>гнойничковые поражения кожи или гнойные раны в предполагаемом месте инъекции;</li>
												<li>использование лекарств, влияющих на свертываемость крови (ацетилсалициловая кислота, варфарин и другие) при изменениях лабораторных показателей;</li>
												<li>онкология без радикального лечения (в том числе злокачественные заболевания крови).</li>
											</ul>
										</div>


										<blockquote class="doctor-blockquote">
											<div class="doctor-blockquote__information">
												<div class="doctor-blockquote__information--photo thumbnail">
													<img src="img/team/1.png" alt="">
												</div>
												<p class="doctor-blockquote__information--name">Карев Дмитрий Борисович</p>
												<p class="doctor-blockquote__information--position">Врач травматолог-ортопед</p>
											</div>
											<div class="doctor-blockquote__text">
												<p>В лечении плечевого сустава, с моей точки зрения,  оправдано использование PRP терапии, если боль обусловлена проблемами исключительно плечевого сустава. Очень хороший эффект, после проведения процедуры, у молодых пациентов после травмы. Если имеются проблемы в плечевом суставе и шейном отделе позвоночника (остеохондроз), мы сочетаем PRP с плазмотерапией.</p>
											</div>
										</blockquote>
										
									</div>
									<!-- //Steps -->

									<!-- SPecialist -->
									<div class="tab-content js-tab-content">
										<h2 class="sect-title sect-title-sm t-t-normal">Процедуру проводит специалист:</h2>

										<div class="team-member">
											<div class="row team-member__row align-vertical-start row-nowrap">
												<div class="team-member__photo">
													<img src="img/team/1.png" alt="">
													{% include '../parts/components/btn-order-accent.html' %}
												</div>

												<div class="team-member__content">
													<h3 class="team-member__name sect-title-sm">Карев Дмитрий Борисович</h3>
													<p class="team-member__position">Врач травматолог-ортопед</p>

													<div class="content">
														<p>Кандидат медицинских наук, доцент, врач травматолог-ортопед высшей квалификационной категории, 31 летний стаж работы в ортопедии. Владеет техникой первичного и ревизионного эндопротезирования тазобедренного и коленного сустава, рядом реконструктивных операций на тазобедренном суставе. Автор 84 научных публикаций (в том числе в Европейских научных журналах), монографии, 14 патентов. Разработчик направления применения аутологичной тромбоцитарной плазмы в травматологии и ортопедии. Организатор первого в мире специализированного центра на территории РБ, использующего плазму в лечении суставных заболеваний. Личный опыт применения плазмы (самый большой в мире) — более 18 000 пациентов.</p>
													</div>

												</div>
											</div>
										</div>
									</div>
									<!-- //SPecialist -->

									<!-- Feedbacks -->
									<div class="tab-content js-tab-content">
										<h2 class="sect-title sect-title-sm t-t-normal">Что говорят наши клиенты:</h2>

										<div class="feedbacks-videos">

											<div class="row align-horisontal-start feedbacks-videos__row row-gutters">
												<div class="col-w-50 col-gutters feedback-video__wrapper">
													<div class="feedback-video thumbnail">
														<iframe src="https://www.youtube.com/embed/YR5ApYxkU-U" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
													</div>
												</div>

												<div class="col-w-50 col-gutters feedback-video__wrapper">
													<div class="feedback-video thumbnail">
														<iframe src="https://www.youtube.com/embed/YR5ApYxkU-U" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
													</div>
												</div>

												<div class="col-w-50 col-gutters feedback-video__wrapper">
													<div class="feedback-video thumbnail">
														<iframe src="https://www.youtube.com/embed/YR5ApYxkU-U" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
													</div>
												</div>
											</div>


										</div>
									</div>
									<!-- //Feedbacks -->

								</div>

								
							</div>

							<aside class="aside aside-page">
								<h3 class="aside-title">Другие услуги</h3>

								<ul class="aside-page-links">
									<li>
										<h4><a href="page-service.html">Коленный сустав</a></h4>
									</li>
									<li>
										<h4><a href="page-service.html">Тазобедренный сустав</a></h4>
									</li>
									<li>
										<h4><a href="page-service.html">Локтевой сустав</a></h4>
									</li>
									<li>
										<h4><a href="page-service.html">Голеностопный сустав</a></h4>
									</li>
									<li>
										<h4><a href="page-service.html">Кисть</a></h4>
									</li>
									<li>
										<h4><a href="page-service.html">Шейный отдел позвоночника</a></h4>
									</li>
									<li>
										<h4><a href="page-service.html">Грудной отдел позвоночника</a></h4>
									</li>
									<li>
										<h4><a href="page-service.html">Поясничный отдел позвоночника</a></h4>
									</li>
								</ul>
							</aside>
						</div>
						<!-- //row -->

						
					</div>
					<!-- //container -->
				</div>
			</section>


			<section class="sect__advantages gutter-bottom">
				<h2 class="container sect-title text-center">Почему мы?</h2>
				<div class="container">


					<div class="row row-gutters align-horisontal-start advantages__row">
						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage advantage-column">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/badge.svg');"></span>
								<p>В нашей клинике <b>самая выгодная цена</b> в Москве</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage advantage-column">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/badge.svg');"></span>
								<p>Наш ведущий специалист <b>является разработчиком</b> направления применения аутологичной тромбоцитарной плазмы в травматологии и ортопедии</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage advantage-column">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/badge.svg');"></span>
								<p><b>Эффективное и безопасное</b> лечение</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage advantage-column">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/badge.svg');"></span>
								<p><b>Без</b> очередей</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage advantage-column">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/badge.svg');"></span>
								<p><b>Быстрое</b> снятие боли</p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage advantage-column">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/badge.svg');"></span>
								<p>Прием врача <b>0 рублей</b></p>
							</div>
						</div>
						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage advantage-column">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/badge.svg');"></span>
								<p>При лечении курсом, все приемы в период прохождения курса <b>бесплатные</b></p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage advantage-column">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/badge.svg');"></span>
								<p>Проведение процедур <b>в день приема</b></p>
							</div>
						</div>

						<div class="advantage__wrapper col-w-33 col-gutters">
							<div class="advantage advantage-column">
								<span class="advantage__ic" style="background-image: url('img/icons/svg/badge.svg');"></span>
								<p><b>Можно совмещать</b> с другими способами лечения</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>

			<section class="sect__form gutter-bottom">
				<div class="container">
					{% include '../parts/components/page-form.html' %}
				</div>
				<!-- //container -->
			</section>


			{% include '../parts/sections/sect-contacts.html' %}



		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>