{% include '../parts/head.html' %}
<body id="home">
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">


		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">

			<section class="page-inner page-technical bg gutters page-thanks" style="background-image: url('img/backgrounds/thanks.jpg');">


				<div class="container">
					<div class="thanks-block">
						<h1 class="sect-title">благодарим за обращение <br>в нашу клинику!</h1>
						<p>Ваша заявка успешно принята. Наш специалист свяжется с вами <br>в ближайшее время.</p>

						<a href="index.html" class="card-permalink card-permalink-accent">Вернуться на главную</a>

						<div class="thanks-socials">
							<p><b>Подписывайтесь на нас в соцсетях и узнавайте первыми <br>об акциях и новостях клиники:</b></p>
							{% include '../parts/components/socials.html' %}
						</div>
					</div>
				</div>
				<!-- //container -->

				
			</section>


			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->



	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>