
<div class="form-wrapper page-form basic-white-color text-center">

	<form class="form">
		<!-- Hidden inputs -->
		<input type="hidden" name="project_name" value="Plasma Priority">
		<input type="hidden" name="admin_email" value="winde100kg@gmail.com">
		<input type="hidden" name="form_subject" value="Консультация">
		<!-- // Hidden inputs -->


		<div class="row inputs__row">
			<div class="input__wrapper">
				<input type="text" class="input input-transparent js-input b-radius-sm" name="Имя" placeholder="Ваше имя *">
			</div>
			<div class="input__wrapper">
				<input type="tel" class="input input-transparent js-input b-radius-sm" name="Телефон" placeholder="Ваш телефон *">
			</div>
			<div class="input__wrapper">
				<label class="checkbox__label">
					<input name="privacy-policy" type="checkbox" checked required>
					<span class="checkbox">Я соглашаюсь с Политикой конфиденциальности</span>
				</label>
			</div>
			<div class="input__wrapper">
				<button class="btn btn-wide" type="submit">получить консультацию</button>
			</div>
		</div>

		

	</form>
</div>
