<div class="service-cards procedures-cards row align-horisontal-center row-gutters">
	<!-- Card -->
	<div class="col-gutters col-w-33 card-wrapper">
		<article class="card card-alternate-color">
			<a href="page-procedure.html" class="card-thumbnail thumbnail">
				<img src="img/procedures/1.jpg" alt="">
			</a>
			<div class="card-content">
				<h4 class="card-content__title">
					<a href="page-procedure.html">PRP-терапия и плазмотерапия</a>
				</h4>
				<a href="page-procedure.html" class="card-permalink">подробнее</a>
			</div>
		</article>
	</div>
	<!-- //Card -->

	<!-- Card -->
	<div class="col-gutters col-w-33 card-wrapper">
		<article class="card card-alternate-color">
			<a href="page-procedure.html" class="card-thumbnail thumbnail">
				<img src="img/procedures/2.jpg" alt="">
			</a>
			<div class="card-content">
				<h4 class="card-content__title">
					<a href="page-procedure.html">Внутрисуставные инъекции и блокады лекарственными препаратами</a>
				</h4>
				<a href="page-procedure.html" class="card-permalink">подробнее</a>
			</div>
		</article>
	</div>
	<!-- //Card -->

	<!-- Card -->
	<div class="col-gutters col-w-33 card-wrapper">
		<article class="card card-alternate-color">
			<a href="page-procedure.html" class="card-thumbnail thumbnail">
				<img src="img/procedures/3.png" alt="">
			</a>
			<div class="card-content">
				<h4 class="card-content__title">
					<a href="page-procedure.html">Лечение остеохондроза</a>
				</h4>
				<a href="page-procedure.html" class="card-permalink">подробнее</a>
			</div>
		</article>
	</div>
	<!-- //Card -->

	<!-- Card -->
	<div class="col-gutters col-w-33 card-wrapper">
		<article class="card card-alternate-color">
			<a href="page-procedure.html" class="card-thumbnail thumbnail">
				<img src="img/procedures/4.png" alt="">
			</a>
			<div class="card-content">
				<h4 class="card-content__title">
					<a href="page-procedure.html">Терапия</a>
				</h4>
				<a href="page-procedure.html" class="card-permalink">подробнее</a>
			</div>
		</article>
	</div>
	<!-- //Card -->

	<!-- Card -->
	<div class="col-gutters col-w-33 card-wrapper">
		<article class="card card-alternate-color">
			<a href="page-procedure.html" class="card-thumbnail thumbnail">
				<img src="img/procedures/5.png" alt="">
			</a>
			<div class="card-content">
				<h4 class="card-content__title">
					<a href="page-procedure.html">Лабораторная диагностика</a>
				</h4>
				<a href="page-procedure.html" class="card-permalink">подробнее</a>
			</div>
		</article>
	</div>
	<!-- //Card -->
</div>