<div class="sertificates-slider">
	<div class="swiper-container js-sertificates-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="sertificate">
					<a href="img/sertificates/1.jpg" class="sertificate-link fancy-link" data-fancybox="sertificates">
						<img src="img/sertificates/1.jpg" alt="">
					</a>
				</div>
			</div>

			
			<div class="swiper-slide">
				<div class="sertificate">
					<a href="img/sertificates/3.jpg" class="sertificate-link fancy-link" data-fancybox="sertificates">
						<img src="img/sertificates/3.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="sertificate">
					<a href="img/sertificates/4.jpg" class="sertificate-link fancy-link" data-fancybox="sertificates">
						<img src="img/sertificates/4.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="sertificate">
					<a href="img/sertificates/5.jpg" class="sertificate-link fancy-link" data-fancybox="sertificates">
						<img src="img/sertificates/5.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="sertificate">
					<a href="img/sertificates/2.jpg" class="sertificate-link fancy-link" data-fancybox="sertificates">
						<img src="img/sertificates/2.jpg" alt="">
					</a>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="slider__pagination slider__pagination--dark js-sertificates-slider-pagination"></div>