<div class="services">
	<!-- Service -->
	<div class="service text-center">
		<h3 class="service-title">суставы</h3>
		<div class="content">
			<p>Каковы основные причины появления боли или неприятных ощущений в суставе? Как правило, это воспалительные процессы, травмы и их последствия, повреждение сосудов и нервов. В 75% обращений, причиной боли в суставах являются хронические дегенеративные заболевания: артроз, артрит. Эти заболевания прогрессирующие, разрушающие сустав, приводящие к инвалидности.<br><strong>СВОЕВРЕМЕННО НАЧАТОЕ ЛЕЧЕНИЕ – ШАНС СОХРАНИТЬ ПОДВИЖНОСТЬ!</strong></p>
		</div>

		<div class="service-cards row align-horisontal-center row-gutters">
			<!-- Card -->
			<div class="col-gutters col-w-33 card-wrapper">
				<article class="card">
					<a href="page-service.html" class="card-thumbnail thumbnail">
						<img src="img/services/1.jpg" alt="">
					</a>
					<div class="card-content">
						<h4 class="card-content__title">
							<a href="page-service.html">плечевой сустав</a>
						</h4>
						<p>Краткое описание услуги в две строки</p>
						<a href="page-service.html" class="card-permalink">подробнее</a>
					</div>
				</article>
			</div>
			<!-- //Card -->

			<!-- Card -->
			<div class="col-gutters col-w-33 card-wrapper">
				<article class="card">
					<a href="page-service.html" class="card-thumbnail thumbnail">
						<img src="img/services/2.jpg" alt="">
					</a>
					<div class="card-content">
						<h4 class="card-content__title">
							<a href="page-service.html">коленный сустав</a>
						</h4>
						<p>Краткое описание услуги в две строки</p>
						<a href="page-service.html" class="card-permalink">подробнее</a>
					</div>
				</article>
			</div>
			<!-- //Card -->

			<!-- Card -->
			<div class="col-gutters col-w-33 card-wrapper">
				<article class="card">
					<a href="page-service.html" class="card-thumbnail thumbnail">
						<img src="img/services/3.jpg" alt="">
					</a>
					<div class="card-content">
						<h4 class="card-content__title">
							<a href="page-service.html">тазобедренный сустав</a>
						</h4>
						<p>Краткое описание услуги в две строки</p>
						<a href="page-service.html" class="card-permalink">подробнее</a>
					</div>
				</article>
			</div>
			<!-- //Card -->

			<!-- Card -->
			<div class="col-gutters col-w-33 card-wrapper">
				<article class="card">
					<a href="page-service.html" class="card-thumbnail thumbnail">
						<img src="img/services/4.jpg" alt="">
					</a>
					<div class="card-content">
						<h4 class="card-content__title">
							<a href="page-service.html">локтевой сустав</a>
						</h4>
						<p>Краткое описание услуги в две строки</p>
						<a href="page-service.html" class="card-permalink">подробнее</a>
					</div>
				</article>
			</div>
			<!-- //Card -->

			<!-- Card -->
			<div class="col-gutters col-w-33 card-wrapper">
				<article class="card">
					<a href="page-service.html" class="card-thumbnail thumbnail">
						<img src="img/services/5.jpg" alt="">
					</a>
					<div class="card-content">
						<h4 class="card-content__title">
							<a href="page-service.html">голеностопный сустав</a>
						</h4>
						<p>Краткое описание услуги в две строки</p>
						<a href="page-service.html" class="card-permalink">подробнее</a>
					</div>
				</article>
			</div>
			<!-- //Card -->

			<!-- Card -->
			<div class="col-gutters col-w-33 card-wrapper">
				<article class="card">
					<a href="page-service.html" class="card-thumbnail thumbnail">
						<img src="img/services/6.jpg" alt="">
					</a>
					<div class="card-content">
						<h4 class="card-content__title">
							<a href="page-service.html">кисть</a>
						</h4>
						<p>Краткое описание услуги в две строки</p>
						<a href="page-service.html" class="card-permalink">подробнее</a>
					</div>
				</article>
			</div>
			<!-- //Card -->
		</div>
	</div>
	<!-- //Service -->

	<!-- Service -->
	<div class="service text-center">
		<h3 class="service-title">позвоночник</h3>
		<div class="content">
			<p><strong>Остеохондроз</strong> – хроническое заболевание, которое поражает позвоночный столб. В ходе болезни наибольшему разрушению подвергаются межпозвоночные диски, сосуды и нервы. Лечение необходимо начинать при первых проявлениях боли. Симптомами заболевания могут быть сильные головные боли, шум в ушах, нарушения зрения, онемение рук, ограничение подвижности и боль в любом отделе позвоночника.</p>
		</div>

		<div class="service-cards row align-horisontal-center row-gutters">
			<!-- Card -->
			<div class="col-gutters col-w-33 card-wrapper">
				<article class="card">
					<a href="page-service.html" class="card-thumbnail thumbnail">
						<img src="img/services/7.png" alt="">
					</a>
					<div class="card-content">
						<h4 class="card-content__title">
							<a href="page-service.html">шейный отдел</a>
						</h4>
						<p>Краткое описание услуги в две строки</p>
						<a href="page-service.html" class="card-permalink">подробнее</a>
					</div>
				</article>
			</div>
			<!-- //Card -->

			<!-- Card -->
			<div class="col-gutters col-w-33 card-wrapper">
				<article class="card">
					<a href="page-service.html" class="card-thumbnail thumbnail">
						<img src="img/services/8.png" alt="">
					</a>
					<div class="card-content">
						<h4 class="card-content__title">
							<a href="page-service.html">грудной отдел</a>
						</h4>
						<p>Краткое описание услуги в две строки</p>
						<a href="page-service.html" class="card-permalink">подробнее</a>
					</div>
				</article>
			</div>
			<!-- //Card -->

			<!-- Card -->
			<div class="col-gutters col-w-33 card-wrapper">
				<article class="card">
					<a href="page-service.html" class="card-thumbnail thumbnail">
						<img src="img/services/9.png" alt="">
					</a>
					<div class="card-content">
						<h4 class="card-content__title">
							<a href="page-service.html">поясничный отдел</a>
						</h4>
						<p>Краткое описание услуги в две строки</p>
						<a href="page-service.html" class="card-permalink">подробнее</a>
					</div>
				</article>
			</div>
			<!-- //Card -->

		</div>
	</div>
	<!-- //Service -->
</div>