<div class="service-steps row row-gutters row-gutters">
	<div class="service-step__wrapper col-w-50 col-gutters">
		<div class="service-step">
			<span class="service-step__count">01</span>
			<a href="img/prp/1.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Прием начинается с консультации врача-ортопеда. После сбора анамнеза, осмотра, врач и пациент согласовывают план лечения">
				<img src="img/prp/1.jpg" alt="">
			</a>
			<p>Прием начинается с консультации врача-ортопеда. После сбора анамнеза, осмотра, врач и пациент согласовывают план лечения</p>
		</div>
	</div>
	<!-- //step -->

	<div class="service-step__wrapper col-w-50 col-gutters">
		<div class="service-step">
			<span class="service-step__count">02</span>
			<a href="img/prp/2.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Пациент проходит в процедурный кабинет, где у него забирают необходимое количество крови из локтевой вены">
				<img src="img/prp/2.jpg" alt="">
			</a>
			<p>Пациент проходит в процедурный кабинет, где у него забирают необходимое количество крови из локтевой вены</p>
		</div>
	</div>
	<!-- //step -->

	<div class="service-step__wrapper col-w-50 col-gutters">
		<div class="service-step">
			<span class="service-step__count">03</span>
			<a href="img/prp/3.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Полученный материал центрифугируется">
				<img src="img/prp/3.jpg" alt="">
			</a>
			<p>Полученный материал центрифугируется</p>
		</div>
	</div>
	<!-- //step -->

	<div class="service-step__wrapper col-w-50 col-gutters">
		<div class="service-step">
			<span class="service-step__count">04</span>
			<a href="img/prp/7.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Врач проводит отбор PRP  и плазмы">
				<img src="img/prp/7.jpg" alt="">
			</a>
			<p>Врач проводит отбор PRP  и плазмы</p>
		</div>
	</div>
	<!-- //step -->

	<div class="service-step__wrapper col-w-50 col-gutters">
		<div class="service-step">
			<span class="service-step__count">05</span>
			<a href="img/prp/3.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Врач-ортопед проводит процедуру введения PRP  и плазмы в зоны, требующие лечения">
				<img src="img/prp/3.jpg" alt="">
			</a>
			<p>Врач-ортопед проводит процедуру введения PRP  и плазмы в зоны, требующие лечения</p>
		</div>
	</div>
	<!-- //step -->

	<div class="service-step__wrapper col-w-50 col-gutters">
		<div class="service-step">
			<span class="service-step__count">06</span>
			<a href="img/prp/5.jpg" class="service-step__img thumbnail fancy-link" data-fancybox="service-steps" data-caption="Врач-ортопед проводит процедуру введения PRP  и плазмы в зоны, требующие лечения">
				<img src="img/prp/5.jpg" alt="">
			</a>
			<p>Врач-ортопед проводит процедуру введения PRP  и плазмы в зоны, требующие лечения</p>
		</div>
	</div>
	<!-- //step -->
</div>