<ul class="socials">
	<li class="socials__item"><a href="#" class="socials__link" target="_blank" rel="nofollow" style="background-image:url('img/icons/svg/socials/youtube.svg');" title="Описание ссылки"></a></li>
	<li class="socials__item"><a href="#" class="socials__link" target="_blank" rel="nofollow" style="background-image:url('img/icons/svg/socials/telegram.svg');" title="Описание ссылки"></a></li>
	<li class="socials__item"><a href="#" class="socials__link" target="_blank" rel="nofollow" style="background-image:url('img/icons/svg/socials/link.svg');" title="Описание ссылки"></a></li>
	<li class="socials__item"><a href="#" class="socials__link" target="_blank" rel="nofollow" style="background-image:url('img/icons/svg/socials/facebook.svg');" title="Описание ссылки"></a></li>
	<li class="socials__item"><a href="#" class="socials__link" target="_blank" rel="nofollow" style="background-image:url('img/icons/svg/socials/instagram.svg');" title="Описание ссылки"></a></li>
	<li class="socials__item"><a href="#" class="socials__link" target="_blank" rel="nofollow" style="background-image:url('img/icons/svg/socials/instagram.svg');" title="Описание ссылки"></a></li>
	
</ul>