	<div class="team-member">
		<div class="team-member__photo bg" style="background-image: url('img/team/1.jpg');">
			<img src="img/team/1.jpg" alt="Карев Дмитрий Борисович фото">
		</div>
		<div class="team-member__information">
			<h4 class="team-member__name">Карев Дмитрий Борисович</h4>
			<p class="team-member__experience">опыт использования методики - более 8 лет</p>
			<p class="team-member__position">Кандидат медицинских наук, доцент, врач травматолог-ортопед высшей квалификационной категории, 30 летний стаж работы в ортопедии.</p>
			<div class="team-member__description">
				<p>Владеет техникой первичного и ревизионного эндопротезирования тазобедренного и коленного сустава, рядом реконструктивных операций на тазобедренном суставе (разработчик оригинальных методик остеотомий бедренной кости при переломах шейки бедра и концепции биологического остеосинтеза). Автор 84 научных публикаций (в том числе в Европейских научных журналах), монографии, 14 патентов. Разработчик направления применения   аутологичной тромбоцитарной плазмы в травматологии и ортопедии. Организатор первого в мире специализированного центра на территории РБ, использующего плазму в лечении суставных заболеваний. Личный опыт применения плазмы (самый большой в мире) - более 15 000 пациентов.</p>
			</div>
		</div>
	</div>