	<div class="service-cards row align-horisontal-center row-gutters">
		<!-- Card -->
		<div class="col-gutters col-w-25 card-wrapper">
			<article class="card card-alternate-color ">
				<a href="page-team-single.html" class="card-thumbnail thumbnail">
					<img src="img/team/1.png" alt="">
				</a>
				<div class="card-content">
					<h4 class="card-content__title">
						<a href="page-team-single.html">Карев Дмитрий Борисович</a>
					</h4>
					<p>Врач травматолог-ортопед</p>
					<a href="page-team-single.html" class="card-permalink">подробнее</a>
				</div>
			</article>
		</div>
		<!-- //Card -->

		<!-- Card -->
		<div class="col-gutters col-w-25 card-wrapper">
			<article class="card card-alternate-color">
				<a href="page-team-single.html" class="card-thumbnail thumbnail">
					<img src="img/team/2.png" alt="">
				</a>
				<div class="card-content">
					<h4 class="card-content__title">
						<a href="page-team-single.html">Карев Борис Дмитриевич</a>
					</h4>
					<p>Врач травматолог-ортопед</p>
					<a href="page-team-single.html" class="card-permalink">подробнее</a>
				</div>
			</article>
		</div>
		<!-- //Card -->

		<!-- Card -->
		<div class="col-gutters col-w-25 card-wrapper">
			<article class="card card-alternate-color">
				<a href="page-team-single.html" class="card-thumbnail thumbnail">
					<img src="img/team/3.png" alt="">
				</a>
				<div class="card-content">
					<h4 class="card-content__title">
						<a href="page-team-single.html">Алиев Али Асхабалиевич</a>
					</h4>
					<p>Врач невролог</p>
					<a href="page-team-single.html" class="card-permalink">подробнее</a>
				</div>
			</article>
		</div>
		<!-- //Card -->

		<!-- Card -->
		<div class="col-gutters col-w-25 card-wrapper">
			<article class="card card-alternate-color">
				<a href="page-team-single.html" class="card-thumbnail thumbnail">
					<img src="img/team/4.png" alt="">
				</a>
				<div class="card-content">
					<h4 class="card-content__title">
						<a href="page-team-single.html">Ибрагимова Людмила Алексеевна</a>
					</h4>
					<p>Врач терапевт</p>
					<a href="page-team-single.html" class="card-permalink">подробнее</a>
				</div>
			</article>
		</div>
		<!-- //Card -->
	</div>