.breadcrumbs
	margin-bottom 50px
	&__item
		display inline-block
		margin-right 40px
		position relative
		&:after
			pseudo()
			position absolute
			vertical-center()
			left 100%
			margin-left 18px
			width 4px
			background url('../img/icons/svg/nav_arrow.svg') no-repeat / contain
			height 8px
		&:last-child
			margin-right 0
			&:after
				display none
				
	&__link
		color rgba($text-color, .5)
		font-size 14px
		
		&.is-active
			color $text-color