.btn
	display inline-block
	padding 28px 50px
	font 1em $GMed
	line-height 1
	text-align center
	color $basic-white-color
	transition all .17s ease-in-out
	backface-visibility hidden
	text-transform uppercase
	letter-spacing 0.01em
	background-color $accent-color
	@extends .b-radius-sm
	&:hover
		background-color $light-accent-color
	&-secondary
		background-color $secondary-color
		&:hover
			background-color $light-secondary-color
			
	&-light
		background-color $basic-white-color
		color $secondary-color
		&:hover
			background-color $basic-white-color
			color $accent-color
		
	&-wide
		width 100%
		padding-left 10px
		padding-right 10px
		
	&-transparent
		background-color transparent
		border 1px solid $accent-color
		color $accent-color
		&:hover
			color $basic-white-color
		
	&__close
		display inline-block
		width 14px
		height 14px
		opacity .3
		position absolute
		top 20px
		right 20px
		svg
			svg()
			fill $text-color
			
		&:hover
			opacity 1
			
		
	&__arrow
		display inline-block
		width 60px
		height 60px
		border-radius 50%
		background-color $basic-white-color
		position relative
		&--next
			transform scaleX(-1)
		svg
			display block
			width 16px
			
			fill $accent-color
			transition fill .17s ease-in-out
			position absolute
			position-center()
			
		&:hover
			svg
				fill $secondary-color
			
	&__toggle
		flex none
		display inline-block
		width 24px
		height 24px
		position relative
		&:before,
		&:after
			pseudo()
			position absolute
			position-center()
			transition opacity .17s ease-in-out
			background-position 50% 50%
			background-repeat no-repeat
			
		&:before
			width 24px
			height 24px
			background-size 24px 24px
			background-image url('../img/icons/svg/faq-plus.svg')
		&:after
			width 24px
			height 2px
			background-size 24px 2px
			background-image url('../img/icons/svg/faq-minus.svg')
			opacity 0
			
		&.is-active
			&:before
				opacity 0
			&:after
				opacity 1
		
	&__top
		display none
		width 40px
		height 40px
		position fixed
		right 30px
		bottom 30px
		background-color $accent-color
		z-index 10
		border-radius 6px
		text-align center
		transition all .17s ease-in-out
		box-shadow 0px 0px 13px 0px rgba($basic-black-color, 0.21)
		&:after
			content ''
			display inline-block
			position absolute
			top 15px
			left 10px
			width 20px
			height 20px
			transform rotate(-45deg)
			border-top 1px solid $basic-white-color
			border-right 1px solid $basic-white-color
			transition all .23s ease-in-out
		&:hover
			background-color $light-accent-color
			

		

	&__hamburger
		display inline-block
		flex none
		width 50px
		height 50px
		border-radius 50%
		background-color $accent-color
		position relative
		transition background-color .17s ease-in-out
		margin-left 15px
		&--line
			width 27px
			height 2px
			background-color $basic-black-color
			display block
			margin 6px auto
			transition all 0.3s ease-in-out	
		&.is-active
			.btn__hamburger--line
				&:nth-child(1)
					transform translateY(8px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-8px) rotate(-45deg)
		