.form
	&__notice
		color rgba($text-color, .5)
		font-size 12px
		margin-top 10px
		
	&-wrapper
		background $accent-color
		background -moz-linear-gradient(90deg, $secondary-color 0%, $accent-color 100%)
		background -webkit-linear-gradient(90deg, $secondary-color 0%, $accent-color 100%)
		background linear-gradient(90deg, $secondary-color 0%, $accent-color 100%)
		padding 30px
		border-radius 12px
		box-shadow 0px 10px 60px 0px rgba(18, 19, 20, 0.2)
		
		.sect-title,
		.sect-title-sm
			text-transform uppercase
		
		.form__notice
			color rgba($basic-white-color, .5)
			margin-top 20px
			

			
		&__description
			color rgba($basic-white-color, .75)
			margin-bottom 25px
			font-size 16px

.input
	display block
	width 100%
	padding 25px
	text-align left
	background-color $input-bg
	border 1px solid transparent
	font 16px $GReg
	color $text-color
	height 100%
	
	
	&:hover,
	&:focus
		border-color $accent-color
	&::-webkit-input-placeholder
		font 16px $GReg
		color rgba($text-color, .5)
	&::-moz-placeholder
		font 16px $GReg
		color rgba($text-color, .5)
	&:-moz-placeholder
		font 16px $GReg
		color rgba($text-color, .5)
	&:-ms-input-placeholder
		font 16px $GReg
		color rgba($text-color, .5)
		
	&__wrapper
		margin-bottom 10px
		position relative
		
	&.is-error
		border-color red
		
	&-transparent
		background-color transparent
		border 2px solid rgba($basic-white-color, .5)
		color $basic-white-color
		&::-webkit-input-placeholder
			font 16px $GReg
			color rgba($basic-white-color, .5)
		&::-moz-placeholder
			font 16px $GReg
			color rgba($basic-white-color, .5)
		&:-moz-placeholder
			font 16px $GReg
			color rgba($basic-white-color, .5)
		&:-ms-input-placeholder
			font 16px $GReg
			color rgba($basic-white-color, .5)
		

.inputs__row
	display flex
	flex-wrap nowrap
	margin-left -10px
	margin-right -10px
	
	.input__wrapper
		flex 1
		padding-left 10px
		padding-right 10px
		
		flex-col-center()
		display inline-flex
		
	.btn
		width 100%
		padding-left 10px
		padding-right 10px


.checkbox
	display inline-block
	position relative
	padding-left 30px
	font 12px $CReg
	line-height 1.5
	text-align left
	color rgba($basic-white-color, .5)
	&:before
		pseudo()
		position absolute
		left 0
		vertical-center()
		width 16px
		height 16px
		border 2px solid rgba($basic-white-color, .5)
		border-radius 2px
		background-position 50% 50%
		background-repeat no-repeat
		background-size 13px 13px
	&__label
		display inline-block
		cursor pointer
		
		input
			display none
			&:checked + span
				&:before
					background-color $accent-color
					border-color $accent-color
					background-image url('../img/icons/svg/correct.svg')

.radio
	display inline-block
	position relative
	padding-left 30px
	font-size 16px
	transition color .17s ease-in-out
	&:hover
		color $light-accent-color
	&:before
		pseudo()
		position absolute
		left 0
		top 5px
		width 20px
		height 20px
		border-radius 50%
		border 1px solid #a3a3a3
		
	&:after
		pseudo()
		position absolute
		top 10px
		left 5px
		width 10px
		height 10px
		border-radius 50%
		background-color $accent-color
		opacity 0

	&__label
		display inline-block
		cursor pointer
		
		input
			display none
			&:checked + span
				&:before
					border-color $accent-color
				&:after
					opacity 1