.form
	&__notice
		color rgba($text-color, .5)
		font-size 12px
		margin-top 10px
		
	&-wrapper
		background-color #72bcb2
		padding 35px 100px
		border-radius 20px 0 20px 0
		
		.form__notice
			color rgba($basic-white-color, .5)
			margin-top 20px
			
		.input
			background-color $basic-white-color
			
		&__description
			color rgba($basic-white-color, .75)
			margin-bottom 25px
			font-size 16px

.input
	display block
	width 100%
	padding 25px
	text-align left
	background-color $input-bg
	border 1px solid transparent
	font 16px $GReg
	color $text-color
	height 100%
	
	&:hover,
	&:focus
		border-color $accent-color
	&::-webkit-input-placeholder
		font 16px $GReg
		color rgba($text-color, .5)
	&::-moz-placeholder
		font 16px $GReg
		color rgba($text-color, .5)
	&:-moz-placeholder
		font 16px $GReg
		color rgba($text-color, .5)
	&:-ms-input-placeholder
		font 16px $GReg
		color rgba($text-color, .5)
		
	&__wrapper
		margin-bottom 10px
		position relative
		
	&.is-error
		border-color red
		

.inputs__row
	margin-left -5px
	margin-right -5px
	.input__wrapper
		margin 0
		padding 5px
	


.checkbox
	display inline-block
	position relative
	padding-left 30px
	font-size 16px
	transition color .17s ease-in-out
	&:hover
		color $light-accent-color
	&:before
		pseudo()
		position absolute
		left 0
		top 5px
		width 20px
		height 20px
		border 1px solid #a3a3a3
		border-radius 2px
		background-position 50% 50%
		background-repeat no-repeat
		background-size 13px 13px
	&__label
		display inline-block
		cursor pointer
		
		input
			display none
			&:checked + span
				&:before
					background-color $accent-color
					border-color $accent-color
					background-image url('../img/icons/svg/correct.svg')

.radio
	display inline-block
	position relative
	padding-left 30px
	font-size 16px
	transition color .17s ease-in-out
	&:hover
		color $light-accent-color
	&:before
		pseudo()
		position absolute
		left 0
		top 5px
		width 20px
		height 20px
		border-radius 50%
		border 1px solid #a3a3a3
		
	&:after
		pseudo()
		position absolute
		top 10px
		left 5px
		width 10px
		height 10px
		border-radius 50%
		background-color $accent-color
		opacity 0

	&__label
		display inline-block
		cursor pointer
		
		input
			display none
			&:checked + span
				&:before
					border-color $accent-color
				&:after
					opacity 1