.nav
	margin-left 100px
	.btn__close
		opacity 1
		display none
		svg
			fill $basic-white-color
			
	&__item
		display inline-block
		margin-right 30px
		&:last-child
			margin-right 0
	&__link
		display inline-block
		color $text-color
		position relative
		&:before
			pseudo()
			position absolute
			bottom -10px
			width 0
			horisontal-center()
			height 1px
			background-color $accent-color
			transition width .17s ease-in-out
			
		&:hover
			color $accent-color
			&:before
				width 40px
			
