.slider
	&__loader
		position absolute
		fullSize()
		z-index 10
		background-color $light-color
		transition all .15s ease-in-out
		&:before
			pseudo()
			width 30px
			height 30px
			position absolute
			position-center()
			background url('../img/slider-loader.gif') 50% 50% no-repeat / 30px 30px
			
		&.is-loaded
			opacity 0
			visibility hidden
			pointer-events none
			
	&__pagination
		text-align center
		margin-top 25px
		
		.swiper-pagination-bullet
			outline none
			width 14px
			height 14px
			margin-right 25px
			background-color $basic-white-color
			&:last-child
				margin-right 0
			

.feedback-slide
	background-color $basic-white-color
	border-radius 24px 24px 24px 0
	radius-overflow()
	padding 100px 50px 50px 50px
	position relative
	height 100%
	transition opacity .2s ease-in-out
	opacity .4
	&:before
		pseudo()
		position absolute
		left 50px
		top 40px
		width 53px
		height 40px
		background url('../img/icons/svg/quote.svg') 50% 50% no-repeat / contain
	&__text
		font-size 16px
		line-height 30px
		margin-bottom 30px
		
	&__author
		&-name
			font 18px $GMed
			margin-bottom 15px
			
		&-age
			color rgba($text-color, .3)
			font-family $GMed
			
.swiper-container
	*
		box-sizing border-box
		
.feedbacks-slider
	position relative
	.swiper-slide
		width 770px
		height auto
		&-active
			.feedback-slide
				opacity 1
				
	&__navigation
		width 100%
		max-width 1170px
		padding-left 35px
		padding-right 35px
		display flex
		align-items center
		justify-content space-between
		pointer-events none
		position absolute
		position-center()
		z-index 2
		button
			pointer-events auto