<footer class="footer">
	<div class="container">

		<div class="row row-gutters align-vertical-center footer__row align-horisontal-between">
			<div class="footer__col col-gutters">
				<!-- Logo -->
				<a href="index.html" class="logo" title="Plasma Priority">
					<img src="img/logo.svg" alt="Plasma Priority Logo">
				</a>
				<!-- //Logo -->
			</div>

			<div class="footer__col col-gutters">
				<div class="row align-vertical-start align-horisontal-between">
					<p>PlasmaPriority&copy;2020. Все права защищены</p>
					<p><a href="#">Политика конфиденциальности</a></p>
					<p><a href="#">Лицензии</a></p>
				</div>
			</div>

			<div class="footer__col col-gutters">
				<button class="btn btn-light js-open-callback-popup-btn" type="button" data-btn-text="Заказать звонок" data-form-theme="Обратный звонок">заказать звонок</button>
			</div>
		</div>
	</div>
	<!-- //container -->
</footer>
