<footer class="footer">
	<div class="container">

		<div class="row row-gutters align-vertical-center footer__row align-horisontal-between row-nowrap">
			<div class="footer__col col-gutters">
				<!-- Logo -->
				<a href="index.html" class="logo" title="Plasma Priority">
					<img src="img/logo-light-png.png" alt="Plasma Priority Logo" class="logo-img">
				</a>
				<!-- //Logo -->
			</div>

			<div class="footer__col col-gutters">
				<p class="copyright">Копирование, тиражирование, а равно иное использование материалов, размещенных на сайте <a href="#">www.plasmapriority.ru</a>, возможно только с письменного разрешения Правообладателя. <br>Не является публичной офертой. <br>ООО "АРНИКА" PlasmaPriority©2020. Все права защищены</p>
			</div>

			<div class="footer__col col-gutters">
				<button class="btn btn-light js-open-callback-popup-btn" type="button" data-btn-text="Заказать звонок" data-form-theme="Обратный звонок">заказать звонок</button>
			</div>
		</div>

		<nav class="footer-nav">
			<ul>
				<li><a href="#" rel="nofollow" target="_blank">пользовательское соглашение</a></li>
				<li><a href="#" rel="nofollow" target="_blank">соглашение на обработку персональных данных</a></li>
				<li><a href="#" rel="nofollow" target="_blank">Политика конфиденциальности</a></li>
			</ul>
		</nav>
	</div>
	<!-- //container -->
</footer>



{% include '../components/popups.html' %}


<!-- Go to up btn -->
<button type="button" class="btn__top js-go-to-top-btn" title="К началу страницы"></button>
		<!-- // Go to up btn  -->