<header class="header">
	<div class="container container-wide">
		<div class="row align-vertical-center align-horisontal-between header__row">
			<div class="logo__col">
				<div class="row align-vertical-center align-horisontal-between row-nowrap">
					<!-- Logo -->
					<span class="logo" title="Plasma Priority">
						<img src="img/logo.svg" alt="Plasma Priority Logo" class="logo-img">
					</span>
					<!-- //Logo -->

					<!-- NAV -->
					{% include '../components/nav-inner.html' %}
					<!-- //NAV -->

					<div class="desktop-socials">
						{% include '../components/socials.html' %}
					</div>
				</div>
			</div>


			<div class="header-tools">
				
				<div class="header-tools__phone">
					<!-- Phone link -->
					<a href="tel:+84951281780" class="phone-link"><span>8 (495) 350 76 30</span></a>

					<button class="btn-callback js-open-callback-popup-btn" type="button" data-btn-text="Заказать звонок" data-form-theme="Обратный звонок">заказать звонок</button>
					<!-- //Phone link -->
				</div>

				<!-- Mobile menu btn -->
				<button type="button" class="btn__hamburger js-open-mobile-menu-btn">
					<span class="btn__hamburger--line"></span>
					<span class="btn__hamburger--line"></span>
					<span class="btn__hamburger--line"></span>
				</button>
				<!-- //Mobile menu btn -->


			</div>
		</div>
	</div>
	
</header>
