<header class="header">
	<div class="container container-wide">
		<div class="row align-vertical-center align-horisontal-between header__row row-nowrap">

			<a href="index.html" class="logo" title="Plasma Priority">
				<img src="img/logo.svg" alt="Plasma Priority Logo" class="logo-img">
			</a>
			<!-- //Logo -->

			<div class="header-center">
				<div class="header-center__top">
					<div class="row align-vertical-center align-horisontal-between">
						<div class="partner">
							<span>Наши партнеры:</span>
							<img src="img/partner.png" alt="">
						</div>

						<div class="header-contacts">
							
							<div class="desktop-socials">
								<div class="row align-vertical-center row-nowrap">
									<a href="https://wa.me/+79775239121" class="socials__link whatsapp-link" target="_blank" style="background-image: url('img/icons/svg/socials/whatsapp.svg');" ></a>

									{% include '../components/socials.html' %}

								</div>
							</div>

							<a href="tel:+84951281780" class="phone-link"><span>8 (495) 350 76 30</span></a>
						</div>


					</div>
				</div>

				<div class="header-center__bottom">
					<!-- NAV -->
					{% include '../components/nav.html' %}
					<!-- //NAV -->
				</div>



			</div>

			<button class="btn btn-transparent js-open-callback-popup-btn" type="button" data-btn-text="Заказать звонок" data-form-theme="Обратный звонок">заказать звонок</button>

			<!-- Mobile menu btn -->
			<button type="button" class="btn__hamburger js-open-mobile-menu-btn">
				<span class="btn__hamburger--line"></span>
				<span class="btn__hamburger--line"></span>
				<span class="btn__hamburger--line"></span>
			</button>
			<!-- //Mobile menu btn -->

		</div>
		<!-- //header row -->
	</div>
	<!-- //container -->
	
</header>
