<section class="sect__treatment light-color-bg gutters" id="treatment">
	<h2 class="sect-title container text-center ">Что мы лечим</h2>
	<p class="sect-subtitle container text-center">Принцип действия и особенности применения<br><strong>«тромбоцитарной аутологичной плазмы (ТАП)» </strong></p>

	<div class="container">
		<div class="treatment">
			<div class="treatment-item accordion-item">
				<div class="treatment-item__header accordion-header">
					<h3 class="treatment-item__title accordion-title">Ортопедия</h3>
					<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
				</div>
				<div class="treatment-item__body accordion-body">
					<div class="content">
						<ul>
							<li>поллиноз (в виде порошка, назального спрея или ингаляций);</li>
							<li>вазомоторный ринит (в виде порошка, назального спрея или ингаляций);</li>
							<li>ХОБЛ (в комплексном лечении в виде ингаляции);</li>
							<li>последствия перенесенных пневмоний (в том числе covid-19) в комплексном лечении в виде ингаляций;</li>
							<li>гастропатии, язвенная болезнь желудка и 12-перстной кишки в комплексном лечении в виде трансгедальной плазмопунктуры;</li>
							<li>хронический гепатит, панкреатит в комплексном лечении в виде трансгедальная плазмопунктуры;</li>
							<li>неспецифический язвенный колит (в виде микроклизм и трансгедальной плазмопунктуры).</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="treatment-item accordion-item">
				<div class="treatment-item__header accordion-header">
					<h3 class="treatment-item__title accordion-title">травматология и спортивная медицина</h3>
					<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
				</div>
				<div class="treatment-item__body accordion-body">
					<div class="content">
						<ul>
							<li>поллиноз (в виде порошка, назального спрея или ингаляций);</li>
							<li>вазомоторный ринит (в виде порошка, назального спрея или ингаляций);</li>
							<li>ХОБЛ (в комплексном лечении в виде ингаляции);</li>
							<li>последствия перенесенных пневмоний (в том числе covid-19) в комплексном лечении в виде ингаляций;</li>
							<li>гастропатии, язвенная болезнь желудка и 12-перстной кишки в комплексном лечении в виде трансгедальной плазмопунктуры;</li>
							<li>хронический гепатит, панкреатит в комплексном лечении в виде трансгедальная плазмопунктуры;</li>
							<li>неспецифический язвенный колит (в виде микроклизм и трансгедальной плазмопунктуры).</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="treatment-item accordion-item">
				<div class="treatment-item__header accordion-header">
					<h3 class="treatment-item__title accordion-title">неврология</h3>
					<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
				</div>
				<div class="treatment-item__body accordion-body">
					<div class="content">
						<ul>
							<li>поллиноз (в виде порошка, назального спрея или ингаляций);</li>
							<li>вазомоторный ринит (в виде порошка, назального спрея или ингаляций);</li>
							<li>ХОБЛ (в комплексном лечении в виде ингаляции);</li>
							<li>последствия перенесенных пневмоний (в том числе covid-19) в комплексном лечении в виде ингаляций;</li>
							<li>гастропатии, язвенная болезнь желудка и 12-перстной кишки в комплексном лечении в виде трансгедальной плазмопунктуры;</li>
							<li>хронический гепатит, панкреатит в комплексном лечении в виде трансгедальная плазмопунктуры;</li>
							<li>неспецифический язвенный колит (в виде микроклизм и трансгедальной плазмопунктуры).</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="treatment-item accordion-item">
				<div class="treatment-item__header accordion-header">
					<h3 class="treatment-item__title accordion-title">терапия</h3>
					<button class="btn__toggle js-toggle-accordion-btn" type="button" title="Показать ответ"></button>
				</div>
				<div class="treatment-item__body accordion-body">
					<div class="content">
						<ul>
							<li>поллиноз (в виде порошка, назального спрея или ингаляций);</li>
							<li>вазомоторный ринит (в виде порошка, назального спрея или ингаляций);</li>
							<li>ХОБЛ (в комплексном лечении в виде ингаляции);</li>
							<li>последствия перенесенных пневмоний (в том числе covid-19) в комплексном лечении в виде ингаляций;</li>
							<li>гастропатии, язвенная болезнь желудка и 12-перстной кишки в комплексном лечении в виде трансгедальной плазмопунктуры;</li>
							<li>хронический гепатит, панкреатит в комплексном лечении в виде трансгедальная плазмопунктуры;</li>
							<li>неспецифический язвенный колит (в виде микроклизм и трансгедальной плазмопунктуры).</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- //container -->
</section>