<div class="swiper-wrapper">
	<!-- Feedback -->
	<div class="swiper-slide">
		<div class="feedback-slide">
			<blockquote class="feedback-slide__text">
				<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром, позволяет восстановить объем движений в суставе, запускает и активизирует процесс регенерации повреждённых тканей, останавливает процесс разрушения сустава.</p>
			</blockquote>
			<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
			<p class="feedback-slide__author-age">54 года</p>
		</div>
	</div>
	<!-- //Feedback -->

	<!-- Feedback -->
	<div class="swiper-slide">
		<div class="feedback-slide">
			<blockquote class="feedback-slide__text">
				<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром.</p>
			</blockquote>
			<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
			<p class="feedback-slide__author-age">54 года</p>
		</div>
	</div>
	<!-- //Feedback -->

	<!-- Feedback -->
	<div class="swiper-slide">
		<div class="feedback-slide">
			<blockquote class="feedback-slide__text">
				<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром, позволяет восстановить объем движений в суставе, запускает и активизирует процесс регенерации повреждённых тканей, останавливает процесс разрушения сустава.</p>
			</blockquote>
			<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
			<p class="feedback-slide__author-age">54 года</p>
		</div>
	</div>
	<!-- //Feedback -->

	<!-- Feedback -->
	<div class="swiper-slide">
		<div class="feedback-slide">
			<blockquote class="feedback-slide__text">
				<p>Процедура представляет собой введение в полость сустава и околосуставные мягкие ткани собственной плазмы пациента. Это самая безопасная, гипоаллергенная и совместимая с организмом среда, которая уменьшает воспалительный процесс и болевой синдром.</p>
			</blockquote>
			<p class="feedback-slide__author-name">Иванов Алексей Петрович</p>
			<p class="feedback-slide__author-age">54 года</p>
		</div>
	</div>
	<!-- //Feedback -->
</div>