//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================


webfont('Comfortaa-Regular', 'Comfortaa', 'Comfortaa-Regular', normal, normal)
webfont('Comfortaa-Bold', 'Comfortaa', 'Comfortaa-Bold', normal, normal)
webfont('Comfortaa-Light', 'Comfortaa', 'Comfortaa-Light', normal, normal)


webfont('GothamPro-Regular', 'GothamPro', 'GothamPro', normal, normal)
webfont('GothamPro-Medium', 'GothamPro', 'GothamPro-Medium', normal, normal)
webfont('GothamPro-Italic', 'GothamPro', 'GothamPro-Italic', normal, normal)
webfont('GothamPro-BoldItalic', 'GothamPro', 'GothamPro-BoldItalic', normal, normal)
