//  Fonts 
$CReg = 'Comfortaa-Regular', Arial, sans-serif
$CLight = 'Comfortaa-Light', Arial, sans-serif
$CBold = 'Comfortaa-Bold', Arial, sans-serif

$GBoldItalic = 'GothamPro-BoldItalic', Arial, sans-serif
$GItalic = 'GothamPro-Italic', Arial, sans-serif
$GReg = 'GothamPro-Regular', Arial, sans-serif
$GMed = 'GothamPro-Medium', Arial, sans-serif

// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1200px
$container-wide-width = 1590px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 15px

$gutters = 115px 0
$gutter-top = 115px
$gutter-bottom = 115px


// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #72bcb2
$light-accent-color = #80c3ba

$secondary-color = #6686b3
$light-secondary-color = #7692bb


$text-color = #121314
$light-text-color = rgba(255, 255, 255, .6)

$basic-white-color = #fff
$basic-black-color = #000

$input-bg = #e0e7f0
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff

$footer-bg = #6686b3

$dark-bg = #090909

$light-color-bg = #eaf5f4
$dark-color-bg = #6686b3

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #7692bb
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========