.sect__promo
	position relative
	z-index 2
	.container
		position relative
		z-index 1
		

.title
	font 45px $CBold 
	line-height 1.25
	margin-bottom 40px
	
.subtitle
	font-size 30px
	line-height 40px
	max-width 690px
	margin-bottom 45px
	

.promo-block
	position relative
	&__content
		position relative
		z-index 1
		
	&__img
		position absolute
		width 650px
		height 650px
		top 0
		right -200px
		border-radius 50% 0 50% 50%
		radius-overflow()

			
		
	&__form
		background-color $basic-white-color
		padding 35px
		max-width 970px
		box-shadow 0px 10px 60px 0px rgba($text-color, 0.2)
		margin -90px auto 0 auto
		position relative
		z-index 2
		
// About
.about-us
	&__text
		padding-right 100px
		.sect-title
			margin-bottom 50px
		.content
			margin-bottom 40px
			strong, b
				color $accent-color
				text-transform uppercase

.service
	margin-bottom 50px
	&:last-child
		margin-bottom 0
		
	&-title
		text-transform uppercase
		color $secondary-color
		@extends .sect-title-sm
	
	.content
		margin-bottom 35px
		
.service
	.card-thumbnail
		padding-top 50%
		
.card
	height 100%
	border-radius 24px
	box-shadow 0px 5px 20px 0px rgba(0, 0, 0, 0.15)
	background-color $accent-color
	transition background-color .17s ease-in-out
	color rgba($basic-white-color, .65)
	line-height 1.25
	text-align center
	p
		max-width 220px
		margin 0 auto 22px auto
	&:hover
		background-color $secondary-color
	&-thumbnail
		display block
		border-top-left-radius 24px
		border-top-right-radius 24px
		
	&-content
		padding 30px
		border-bottom-left-radius 24px
		border-bottom-right-radius 24px
		&__title
			font 18px $CBold
			text-transform uppercase
			margin-bottom 25px
			a
				color $basic-white-color
				&:hover
					color $accent-color
					
	&-alternate-color
		background-color $secondary-color
		&:hover
			background-color $accent-color
			
		.card-content__title
			text-transform none
			a
				&:hover
					color $secondary-color
				
	&-wrapper
		margin-bottom 30px
		
	&-permalink
		display inline-block
		color $basic-white-color
		position relative
		text-transform uppercase
		font 14px $GMed
		line-height 1
		letter-spacing 0.1em
		padding-right 23px
		&:after
			pseudo()
			position absolute
			right 0
			width 14px
			height 6px
			top 50%
			margin-top -3px
			transition transform .17s ease-in-out
			background url('../img/icons/svg/permalink.svg') no-repeat / contain
		&:hover
			&:after
				transform translateX(5px)
				

.procedures-cards
	margin-bottom 70px
			
					
// Advantages

.advantage
	display flex
	align-items flex-start
	justify-content flex-start
	&__ic
		flex none
		width 50px
		height 50px
		border-radius 50%
		background-color $basic-white-color
		background-position 50% 50%
		background-repeat no-repeat
		background-size 20px 20px
		margin-right 20px
		box-shadow 0px 5px 25px 0px rgba($secondary-color, 0.15)
	&__wrapper
		margin-bottom 45px
		
// Team
.team
	.card-thumbnail
		padding-top 105%
			
.office
	text-align center
	font 14px $GBoldItalic
	img
		display block
		border-radius 0 20px 0 20px
		margin 0 auto 10px auto
.team
	&-member
		margin-bottom 30px
		display flex
		flex-wrap nowrap
		&__photo
			width 50%
			radius-overflow()
			border-radius 24px 0 24px 24px
			min-height 440px
			img
				@extends .visually-hidden
		&__information
			width 50%
			padding-left 30px
			
		&__name
			font 24px $CBold
			margin-bottom 20px
		&__experience
			color $accent-color
			font 14px $GMed
			text-transform uppercase
			margin-bottom 20px
		&__position
			font 18px $GMed
			line-height 32px
			margin-bottom 20px
		&__description
			font-size 16px
			line-height 30px
			
		&:last-child
			margin-bottom 0
			
// Treatment
.sect__treatment
	.sect-title
		margin-bottom 30px

.sect-subtitle
	text-transform uppercase
	font-size 24px
	margin-bottom 25px
	line-height 1.25
	b, strong, span
		font-family $GMed
		

	
// Prices


.price-block
	margin-bottom 30px
	border-radius 12px
	&-notice
		text-align center
		font 18px $GMed
		margin-top 30px
	
	&:last-child
		margin-bottom 0
		
	&__header
		background-color $accent-color
		padding 30px
		
		margin-bottom 0
		
	&__title
		font 24px $CBold
		
	&__body
		table
			border-collapse separate
			border-spacing 0 10px
			width 100%
			tr
				margin-bottom 10px
				&:last-child
					margin-bottom 0
			td
				padding 35px
				&:first-child
					text-align left
					background-color $basic-white-color
					font-size 16px 
					width 75%
					border-radius 4px 0 0 4px
				&:last-child
					text-align center
					background-color #fafbfd
					font 18px $GMed
					width 25%
					border-radius 0 4px 4px 0
					white-space nowrap
					
// Faqs
.sect__faqs
	position relative
	z-index 1


	
.faq
	margin-bottom 10px
	

	&:last-child
		margin-bottom 0
		
	&__question
		padding 40px
		.row
			flex-wrap nowrap
		&--title
			font 18px $GMed
			margin-right 15px
			
	&__answer
		padding 0 70px 70px 70px
		font-size 16px
		line-height 30px
		display none
		
// contacts
.contacts-block
	padding-right 70px
	flex 1
	
.contacts-item
	margin-bottom 35px
	font 20px $GReg
	line-height 30px
	color $text-color
	a
		color inherit
		&:hover
			color $accent-color
	&:last-child
		margin-bottom 0
		
	&__title
		text-transform uppercase
		color rgba($text-color, .4)
		font 14px $GMed
		margin-bottom 10px
		
	.socials__link
		width 30px
		height 30px
		background-size 30px 30px
		


		
.accordion
	&-item
		background-color $basic-white-color
		border-radius 22px
		margin-bottom 10px
		&:last-child
			margin-bottom 0
		
	&-header
		padding 20px 40px
		
		display flex
		align-items center
		justify-content space-between
		flex-wrap nowrap
		transition background-color .17s ease-in-out
	&-title
		text-transform uppercase
		font 20px $CBold
		transition color .17s ease-in-out
		max-width 900px
		margin-right 15px
		
	&-body
		padding 0 40px 20px 70px
		display none
		
.treatment-item
	&.is-active
		.accordion-title
			color $secondary-color
			
	&__header
		&:hover
			.accordion-title
				color $accent-color
				

				
.faq-item
	background-color $basic-white-color
	margin-bottom 0
	border-radius 0
	&__header
		padding 25px 25px 10px 25px
	&:last-child
		.faq-item__header
			padding-bottom 25px

	&__body
		padding 0 25px 25px 50px
		font-size 16px
	&__title
		text-transform none
		font 16px $GMed
		margin-right 40px
	&.is-active
		.accordion-title
			color $secondary-color

.prices-item
	&__header
		background-color $accent-color
	&__title
		color $basic-white-color
		
	&__body
		padding-left 25px
		
		
	.btn__toggle
		&:after
			background-image url('../img/icons/svg/faq-minus-light.svg')
		&:before
			background-image url('../img/icons/svg/faq-plus-light.svg')
			
	&.is-active
		.prices-item
			&__header
				background-color $secondary-color
			&__title
				color $basic-white-color
				
.prices-table
	width 100%
	max-width 1000px
	margin 0 auto
	font-size 16px
	tr
		
		border-bottom 1px solid #d4ebe8
		&:last-child
			border-bottom 2px solid $accent-color
	td
		padding 20px 0
		&:last-child
			font-family $GMed
			text-align right
			padding-left 20px
			white-space nowrap
			
.prices-notice
	max-width 1000px
	margin 30px auto 0
	
.prices-block-notice
	text-align center
	font 18px $GMed
	margin-top 30px

.tab-controls
	display flex
	flex-wrap nowrap
	
.btn-tab
	width 50%
	padding 20px
	text-align center
	text-transform uppercase
	border 2px solid $accent-color
	background-color $basic-white-color
	color $accent-color
	font 14px $GMed
	letter-spacing 0.01em
	&.is-active
		background-color $accent-color
		color $basic-white-color
		


.sect__docs
	position relative
	z-index 1


.sertificate-link
	display inline-block
	position relative
	overflow hidden
	box-shadow 0px 10px 50px 0px rgba(0, 0, 0, 0.1)
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($secondary-color, .6)
		transition opacity .17s ease-in-out
		opacity 0
	&:after
		pseudo()
		position absolute
		position-center()
		z-index 1
		transition opacity .17s ease-in-out
		opacity 0
		width 40px
		height 40px
		background url('../img/icons/svg/zoom.svg') no-repeat
		
	&:hover
		&:before,
		&:after
			opacity 1
		
	img
		display block
		

.address
	font-size 18px
	line-height 1.25
	p
		margin-bottom 15px
		&:last-child
			margin-bottom 0
	&-title
		font-family $GMed
		text-transform uppercase
	
.metro-item
	padding-left 25px
	background url('../img/icons/svg/metro.svg') left center no-repeat / 18px 11px
	

.permalink-wrapper
	margin-top 50px
	
// News
.articles-cards
	.permalink-wrapper
		margin-top 20px
	
.article-card
	&__thumbnail
		border-radius 12px
		display block
		padding-top 65%
		margin-bottom 20px
	&__title
		font 16px $CBold
		text-transform uppercase
		a
			color $text-color
			&:hover
				color $secondary-color
	&__wrapper
		margin-bottom 30px
		
.article-date
	font 14px $GMed
	color rgba($text-color, .5)
	margin-bottom 16px
	
// Seo 
.seo-text
	max-height 200px
	overflow-y auto
	padding-right 20px
	color rgba($text-color, .6)
	margin-bottom 60px
	&::-webkit-scrollbar-track
		background-color rgba($basic-black-color, .05)

	&::-webkit-scrollbar
		width 7px
	&::-webkit-scrollbar-thumb
		width 10px
		background-color $accent-color
		
