.page-inner
	padding-top 30px
	&__entering
		margin-bottom 50px
		.sect-title
			margin-bottom 0
			
		.sect-description
			margin-bottom 0
			margin-top 20px
			
	.accordion-item
		background-color $arcodion-bg