.page-inner
	padding-top 30px
	.sect__seo
		padding-bottom 0 !important
	&__entering
		margin-bottom 50px
		.sect-title
			margin-bottom 0
			
		.sect-description
			margin-bottom 0
			margin-top 20px
			
	.accordion-item
		background-color $arcodion-bg
		

.page-technical
	padding 200px 0
	
.thanks-block
	font-size 16px
	max-width 700px
	.sect-title
		margin-bottom 25px
		
	.card-permalink
		margin-top 25px
		
.thanks-socials
	margin-top 50px
	.socials
		margin-top 20px
		
.page-error
	background $accent-color
	background -moz-linear-gradient(90deg, rgba($secondary-color, .25) 0%, rgba($accent-color, .25) 100%)
	background -webkit-linear-gradient(90deg,rgba($secondary-color, .25) 0%, rgba($accent-color, .25) 100%)
	background linear-gradient(90deg,rgba($secondary-color, .25) 0%, rgba($accent-color, .25) 100%)
	
.block-404
	&__content
		width 400px
		margin-right 30px
		
		p
			margin-bottom 50px
		
	img
		display block
		
