.sect__promo
	position relative
	z-index 2
	.container
		position relative
		z-index 1
		

.title
	font 45px $CBold 
	line-height 1.25
	margin-bottom 40px
	
.subtitle
	font-size 30px
	line-height 40px
	max-width 690px
	margin-bottom 45px
	

.promo-block
	position relative
	&__content
		position relative
		z-index 1
		
	&__img
		position absolute
		width 650px
		height 650px
		top 0
		right -200px
		border-radius 50% 0 50% 50%
		radius-overflow()

			
		
	&__form
		background-color $basic-white-color
		padding 35px
		max-width 970px
		box-shadow 0px 10px 60px 0px rgba($text-color, 0.2)
		margin -90px auto 0 auto
		position relative
		z-index 2
		
// About
.sect__about
	padding-top 60px
	position relative
	z-index 1
	

	
.about-service-item
	overflow hidden
	border 1px solid rgba($secondary-color, .3)
	font-size 16px
	height 100%
	display flex
	flex-direction column
	justify-content space-between
	background-color $basic-white-color
	radius-overflow()
	&__wrapper
		margin-bottom 30px
	&__description
		padding 45px 35px 30px 35px
		
	&__title
		font 24px $CBold
		margin-bottom 30px
		
	img
		display block
		width 100%
		
.about-service__blockquote
	padding 50px
	border-left 10px solid $accent-color
	font 14px $GItalic
	line-height 26px
	margin-bottom 50px
	b, strong
		font-family $GBoldItalic
		

.service-steps
	.sect-title
		margin-bottom 90px
		
.service-step
	position relative
	font-size 16px
	&__wrapper
		margin-bottom 35px
	&__count
		flex-col-center()
		text-align center
		color $basic-white-color
		width 70px
		height 70px
		border-radius 50%
		background-color $secondary-color
		position absolute
		horisontal-center()
		top -35px
		z-index 1
		
	&__img
		width 100%
		padding-top 64%
		border-radius 16px 0 16px 0
		radius-overflow()
		margin-bottom 25px
		
.attention
	margin-bottom 35px
	text-align center
	p
		position relative
		padding-left 35px
		display inline-block
		&:before
			pseudo()
			position absolute
			left 0
			vertical-center()
			width 18px
			height 16px
			background url('../img/icons/svg/warning.svg') no-repeat

// Advantages

.advantage
	display flex
	align-items flex-start
	justify-content flex-start
	&__ic
		flex none
		width 50px
		height 50px
		border-radius 50%
		background-color $basic-white-color
		background-position 50% 50%
		background-repeat no-repeat
		background-size 20px 20px
		margin-right 20px
		box-shadow 0px 5px 25px 0px rgba($secondary-color, 0.15)
	&__wrapper
		margin-bottom 45px
		
// Team
.team-description
	margin-bottom 50px
	.content
		flex 1
		margin-right 60px
		
.content
	p
		margin-bottom 20px
		&:last-child
			margin-bottom 0
			
	ul
		li
			position relative
			margin-bottom 10px
			font-size 16px
			line-height 1.25
			&:before
				pseudo()
				display inline-block
				vertical-align middle
				margin-right 20px
				width 4px
				height 4px
				border-radius 50%
				background-color $text-color
			&:last-child
				margin-bottom 0
			
.office
	text-align center
	font 14px $GBoldItalic
	img
		display block
		border-radius 0 20px 0 20px
		margin 0 auto 10px auto
.team
	&-member
		margin-bottom 30px
		display flex
		flex-wrap nowrap
		&__photo
			width 50%
			radius-overflow()
			border-radius 24px 0 24px 24px
			min-height 440px
			img
				@extends .visually-hidden
		&__information
			width 50%
			padding-left 30px
			
		&__name
			font 24px $CBold
			margin-bottom 20px
		&__experience
			color $accent-color
			font 14px $GMed
			text-transform uppercase
			margin-bottom 20px
		&__position
			font 18px $GMed
			line-height 32px
			margin-bottom 20px
		&__description
			font-size 16px
			line-height 30px
			
		&:last-child
			margin-bottom 0
			
// Treatment
.sect__treatment
	.sect-title
		margin-bottom 30px

.sect-subtitle
	text-transform uppercase
	font-size 24px
	margin-bottom 25px
	line-height 1.25
	b, strong, span
		font-family $GMed
		

	
// Prices


.price-block
	margin-bottom 30px
	&-notice
		text-align center
		font 18px $GMed
		margin-top 30px
	
	&:last-child
		margin-bottom 0
		
	&__header
		background-color $accent-color
		padding 30px
		border-radius 24px 24px 0 0
		margin-bottom 0
		
	&__title
		font 24px $CBold
		
	&__body
		table
			border-collapse separate
			border-spacing 0 10px
			width 100%
			tr
				margin-bottom 10px
				&:last-child
					margin-bottom 0
			td
				padding 35px
				&:first-child
					text-align left
					background-color $basic-white-color
					font-size 16px 
					width 75%
					border-radius 4px 0 0 4px
				&:last-child
					text-align center
					background-color #fafbfd
					font 18px $GMed
					width 25%
					border-radius 0 4px 4px 0
					white-space nowrap
					
// Faqs
.sect__faqs
	position relative
	z-index 1

	
.faq
	margin-bottom 10px

	&:last-child
		margin-bottom 0
		
	&__question
		padding 40px
		.row
			flex-wrap nowrap
		&--title
			font 18px $GMed
			margin-right 15px
			
	&__answer
		padding 0 70px 70px 70px
		font-size 16px
		line-height 30px
		display none
		
// contacts
.contacts-block
	padding-right 70px
	flex 1
	
.contacts-item
	margin-bottom 35px
	font 20px $GReg
	line-height 30px
	color $text-color
	a
		color inherit
		&:hover
			color $accent-color
	&:last-child
		margin-bottom 0
		
	&__title
		text-transform uppercase
		color rgba($text-color, .4)
		font 14px $GMed
		margin-bottom 10px
		


		
.accordion
	&-item
		background-color $basic-white-color
		border-radius 0 0 6px 6px
		margin-bottom 10px
		&:last-child
			margin-bottom 0
		
	&-header
		padding 20px 40px
		border-radius 6px 6px 0 0
		display flex
		align-items center
		justify-content space-between
		flex-wrap nowrap
		transition background-color .17s ease-in-out
	&-title
		text-transform uppercase
		font 20px $CBold
		transition color .17s ease-in-out
		max-width 900px
		margin-right 15px
		
	&-body
		padding 0 40px 20px 70px
		display none
		
.treatment-item
	&.is-active
		.accordion-title
			color $secondary-color
			
	&__header
		&:hover
			.accordion-title
				color $accent-color
				

				
.faq-item
	background-color #f1f8f7
	margin-bottom 0
	border-radius 0
	&__header
		padding 25px 25px 10px 25px
	&:last-child
		.faq-item__header
			padding-bottom 25px

	&__body
		padding 0 25px 25px 50px
		font-size 16px
	&__title
		text-transform none
		font 16px $GMed
		margin-right 40px
	&.is-active
		.accordion-title
			color $secondary-color

.prices-item
	&__header
		background-color $accent-color
	&__title
		color $basic-white-color
		
	&__body
		padding-left 25px
		
		
	.btn__toggle
		&:after
			background-image url('../img/icons/svg/faq-minus-light.svg')
		&:before
			background-image url('../img/icons/svg/faq-plus-light.svg')
			
	&.is-active
		.prices-item
			&__header
				background-color $secondary-color
			&__title
				color $basic-white-color
				
.prices-table
	width 100%
	max-width 1000px
	margin 0 auto
	font-size 16px
	tr
		
		border-bottom 1px solid #d4ebe8
		&:last-child
			border-bottom 2px solid $accent-color
	td
		padding 20px 0
		&:last-child
			font-family $GMed
			text-align right
			padding-left 20px
			white-space nowrap
			
.prices-notice
	max-width 1000px
	margin 30px auto 0
	
.prices-block-notice
	text-align center
	font 18px $GMed
	margin-top 30px

.tab-controls
	display flex
	flex-wrap nowrap
	
.btn-tab
	width 50%
	padding 20px
	text-align center
	text-transform uppercase
	border 2px solid $accent-color
	background-color $basic-white-color
	color $accent-color
	font 14px $GMed
	letter-spacing 0.01em
	&.is-active
		background-color $accent-color
		color $basic-white-color
		


.sect__docs
	position relative
	z-index 1


.sertificate-link
	display inline-block
	position relative
	overflow hidden
	box-shadow 0px 10px 50px 0px rgba(0, 0, 0, 0.1)
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($secondary-color, .6)
		transition opacity .17s ease-in-out
		opacity 0
	&:after
		pseudo()
		position absolute
		position-center()
		z-index 1
		transition opacity .17s ease-in-out
		opacity 0
		width 40px
		height 40px
		background url('../img/icons/svg/zoom.svg') no-repeat
		
	&:hover
		&:before,
		&:after
			opacity 1
		
	img
		display block
		

.address
	font-size 18px
	line-height 1.25
	p
		margin-bottom 15px
		&:last-child
			margin-bottom 0
	&-title
		font-family $GMed
		text-transform uppercase
	
.metro-item
	padding-left 25px
	background url('../img/icons/svg/metro.svg') left center no-repeat / 18px 11px
	