.faq
	&-content
		margin-bottom 50px
		&:last-child
			margin-bottom 0
		.thumbnail
			margin-bottom 25px
			border-radius 12px
			padding-top 48%
			
		.sect-title-sm
			text-transform uppercase
			color $secondary-color
			
		.faq-item
			background-color $arcodion-bg
	
