@import '_page-index.styl'
@import '_page-news.styl'
@import '_page-about.styl'
@import '_page-contacts.styl'
@import '_page-faq.styl'
@import '_page-pricelist.styl'
@import '_page-services.styl'
@import '_page-team.styl'
@import '_page-technicals.styl'
