.aside
	flex none
	width 300px
	margin-left 50px
	
	&-title
		text-transform uppercase
		font 20px $CBold
		color $secondary-color
		margin-bottom 40px
		
	&-articles
		li
			display block
			margin-bottom 30px
			
		.article-date
			margin-bottom 4px
			
		a
			font 16px $CBold
			text-transform uppercase
			color $text-color
			&:hover
				color $secondary-color
				
	&-page
		.aside-content
			background-color #eaf5f4
			border-radius 12px
			overflow hidden
		
		.aside-title
			color $basic-white-color
			padding 30px
			background-color $accent-color
			margin-bottom 0
			text-align center
			
		&-links
			padding 20px
			
			
			li
				display block
				margin-bottom 20px
				position relative
				padding-left 25px
				&:before
					pseudo()
					position absolute
					left 0
					top 6px
					width 7px
					height 13px
					background url('../img/icons/svg/link_arrow.svg') no-repeat / contain
				&:last-child
					margin-bottom 0
					
			a
				color $text-color
				border-bottom 1px solid transparent
				&:hover
					color $secondary-color
					border-color currentColor
				
			
	
	
