.footer
	background-color $footer-bg
	padding 60px 0
	color $light-text-color
	a
		color inherit
		&:hover
			text-decoration underline
	&__col
		.row
			margin-left -10px
			margin-right -10px
			
		p
			padding 0 10px
			
